<h2>Page <%= w.sources.current_page %> of <%= w.sources.page_count %></h2>

<!--
<div>
  <%= w.partial('source_item', :collection => w.sources) %>
</div>
-->

<!-- titolo cliccabile della categoria -->
<h1 class="accordion_toggle">
  Tipologia sources 1
</h1>
<!-- titolo cliccabile della categoria -->

<!-- lista elementi della categoria -->
<div class="accordion_content">   
  <!-- singolo elemento -->
  <div class="single_source_element">
    <h2 class="source_title">Titolo</h2>
    <p class="source_data">
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, 
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini
    </p>
    <h3 class="source_more">More content<h3>
    <p class="source_more_data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam lacinia lacinia lacus. 
    Suspendisse pretium iaculis nisi. Ut pellentesque consequat mi. 
    Sed purus urna, rutrum sit amet, laoreet nec, consectetuer ut, ipsum. 
    Vivamus id eros vulputate orci dapibus ultricies. Fusce tincidunt venenatis justo. 
    Sed vel pede. Fusce arcu. Sed ut erat in lorem condimentum egestas. 
    Sed augue. Nam fermentum lacus. Sed sem felis, vehicula at, accumsan eu, 
    tempor nec, lectus. Maecenas vitae justo. Donec a quam vel mi placerat facilisis. 
    Praesent eu dui.
    </p>
  </div>
  <!-- singolo elemento -->

  <!-- singolo elemento -->
  <div class="single_source_element">
    <h2 class="source_title">Titolo</h2>
    <p class="source_data">
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, 
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini
    </p>
    <h3 class="source_more">More content<h3>
    <p class="source_more_data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam lacinia lacinia lacus. 
    Suspendisse pretium iaculis nisi. Ut pellentesque consequat mi. 
    Sed purus urna, rutrum sit amet, laoreet nec, consectetuer ut, ipsum. 
    Vivamus id eros vulputate orci dapibus ultricies. Fusce tincidunt venenatis justo. 
    Sed vel pede. Fusce arcu. Sed ut erat in lorem condimentum egestas. 
    Sed augue. Nam fermentum lacus. Sed sem felis, vehicula at, accumsan eu, 
    tempor nec, lectus. Maecenas vitae justo. Donec a quam vel mi placerat facilisis. 
    Praesent eu dui.
    </p>
  </div>
  <!-- singolo elemento -->

  <!-- singolo elemento -->
  <div class="single_source_element">
    <h2 class="source_title">Titolo</h2>
    <p class="source_data">
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, 
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini
    </p>
    <h3 class="source_more">More content<h3>
    <p class="source_more_data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam lacinia lacinia lacus. 
    Suspendisse pretium iaculis nisi. Ut pellentesque consequat mi. 
    Sed purus urna, rutrum sit amet, laoreet nec, consectetuer ut, ipsum. 
    Vivamus id eros vulputate orci dapibus ultricies. Fusce tincidunt venenatis justo. 
    Sed vel pede. Fusce arcu. Sed ut erat in lorem condimentum egestas. 
    Sed augue. Nam fermentum lacus. Sed sem felis, vehicula at, accumsan eu, 
    tempor nec, lectus. Maecenas vitae justo. Donec a quam vel mi placerat facilisis. 
    Praesent eu dui.
    </p>
  </div>
  <!-- singolo elemento -->

  <!-- singolo elemento -->
  <div class="single_source_element">
    <h2 class="source_title">Titolo</h2>
    <p class="source_data">
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, 
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini
    </p>
    <h3 class="source_more">More content<h3>
    <p class="source_more_data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam lacinia lacinia lacus. 
    Suspendisse pretium iaculis nisi. Ut pellentesque consequat mi. 
    Sed purus urna, rutrum sit amet, laoreet nec, consectetuer ut, ipsum. 
    Vivamus id eros vulputate orci dapibus ultricies. Fusce tincidunt venenatis justo. 
    Sed vel pede. Fusce arcu. Sed ut erat in lorem condimentum egestas. 
    Sed augue. Nam fermentum lacus. Sed sem felis, vehicula at, accumsan eu, 
    tempor nec, lectus. Maecenas vitae justo. Donec a quam vel mi placerat facilisis. 
    Praesent eu dui.
    </p>
  </div>
  <!-- singolo elemento -->

</div>

<!-- titolo cliccabile della categoria -->
<h1 class="accordion_toggle">
  Tipologia sources 2
</h1>
<!-- titolo cliccabile della categoria -->

<!-- lista elementi della categoria -->
<div class="accordion_content">   
  <!-- singolo elemento -->
  <div class="single_source_element">
    <h2 class="source_title">Titolo</h2>
    <p class="source_data">
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, 
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini
    </p>
    <h3 class="source_more">More content<h3>
    <p class="source_more_data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam lacinia lacinia lacus. 
    Suspendisse pretium iaculis nisi. Ut pellentesque consequat mi. 
    Sed purus urna, rutrum sit amet, laoreet nec, consectetuer ut, ipsum. 
    Vivamus id eros vulputate orci dapibus ultricies. Fusce tincidunt venenatis justo. 
    Sed vel pede. Fusce arcu. Sed ut erat in lorem condimentum egestas. 
    Sed augue. Nam fermentum lacus. Sed sem felis, vehicula at, accumsan eu, 
    tempor nec, lectus. Maecenas vitae justo. Donec a quam vel mi placerat facilisis. 
    Praesent eu dui.
    </p>
  </div>
  <!-- singolo elemento -->

  <!-- singolo elemento -->
  <div class="single_source_element">
    <h2 class="source_title">Titolo</h2>
    <p class="source_data">
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, 
      <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini, <span>Autore:</span> Giulio Andreini
    </p>
    <h3 class="source_more">More content<h3>
    <p class="source_more_data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam lacinia lacinia lacus. 
    Suspendisse pretium iaculis nisi. Ut pellentesque consequat mi. 
    Sed purus urna, rutrum sit amet, laoreet nec, consectetuer ut, ipsum. 
    Vivamus id eros vulputate orci dapibus ultricies. Fusce tincidunt venenatis justo. 
    Sed vel pede. Fusce arcu. Sed ut erat in lorem condimentum egestas. 
    Sed augue. Nam fermentum lacus. Sed sem felis, vehicula at, accumsan eu, 
    tempor nec, lectus. Maecenas vitae justo. Donec a quam vel mi placerat facilisis. 
    Praesent eu dui.
    </p>
  </div>
  <!-- singolo elemento -->

</div>





  
<div>
  <%= widget_will_paginate(w.sources, :source_options => w.source_options) %>
</div>


