<div id="search_box">
  <% form_tag :action => "search" do -%>
    <p>
      <label><%= t(:'talia.facsimile_edition.manuscript') %></label> 
      <input type="text" name="book"/>
      <label><%= t(:'talia.facsimile_edition.page') %></label> 
      <input type="text" name="page"/>
      <label class="invia"><%= t(:'talia.global.search') %></label>
      <input type="submit" class="invia"/>
    </p>
  <% end -%>
  <% if flash[:search_notice] %> 
    <p><label type="text"><%= flash[:search_notice] %></label></p>
  <% end %>                        
</div>
