<!-- navigate -->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => tabs_elements) %>
</div>
<!-- menulocation -->

<div id="description">
  <p></p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list" class="minilist">
    <% @books.each do |book| %>
      <li>
        <h1>
          <%# url = "/#{TaliaCore::FACSIMILE_EDITION_PREFIX}/#{params[:id]}/#{book}" %>
          <%# text = "<img src='/#{TaliaCore::FACSIMILE_EDITION_PREFIX}/#{params[:id]}/#{book}.jpeg?size=thumbnail' alt='#{book}' border='0'/>#{book}" %>        
          <% url = book.uri.to_s %>        
          <% title = book.uri.local_name %>
          <% text = "<img src='#{book.uri.to_s}.jpeg?size=thumbnail' alt='#{book.uri.local_name}' border='0'/>#{book.uri.local_name}" %>        
          <%= titled_link(url, text, title)%>
        </h1>
        <p>
          <%= material_description(book) %>
        </p>
      </li>
    <%end%>    
  </ul>
</div>

