<!-- navigate -->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => tabs_elements) %>
</div>
<!-- menulocation -->

<div id="description">
  <p></p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list" class="minilist">
    <% @books.each do |book| %>
      <li>
        <h1>
          <%= thumb_link(book, :border => '0' ) %>
        </h1>
        <p>
          <%= material_description(book) %>
        </p>
      </li>
    <%end%>    
  </ul>
</div>

