<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => panorama_tabs) %>
</div>
<!--[if !IE]>menulocation<![endif]-->

<div id="description">
  <p><%= material_description(@book) %></p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <div id="block_container">
    <%= widget(:simple_mode_panorama, :elements => @pages, :panorama_type => 'horizontal') %>
  </div>
  <!-- block_container -->
  
</div>


