
<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => show_tabs) %>
</div>
<!--[if !IE]>menulocation<![endif]-->
<!--[if !IE]>description<![endif]-->
<div id="content">


  <div id="scroll">
    <ul id="facsimile_frontpage_access_list">
      <% facsimile_edition_types.each do |type| %>
        <li id="<%= type.local_name %>">
          <h1>
            <% title = t(:"talia.types.#{type.local_name.underscore}") %>
            <%= titled_link("#{params[:id]}/#{type.local_name}",
              image_tag("facsimile_edition/ico_#{type.local_name}.jpg",
                :alt => "link to #{title} section",
                :width => '78', :height => '70', :border => '0') + title, title) %>
          </h1>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render(:partial => "shared/edition_front_page") %>
</div>
