<%= source_toolbar %>
<%= source_javascripts %>

<h1>Sources found: <%= @sources.total_entries  %></h1>
<%= widget(:grouped_list, :id => 'main_list', :group_property => :type, :group_values => @types, :group_increment => @group_increment) %>
