<div>
 <%= widget(:toolbar, :buttons => { :Lucca => {:id => 'Lucca'}, :print => "javascript:print();" }) %>
 <%= widget(:source_snippet, :source => @source) %>
  <!-- %= @source.primary_source ? "This is a primary source" : "This is a contribution" % -->
<%= render_source_data %>
</div>
<!-- %= link_to "back", :action => "index" %--> 
<!-- %= link_to "edit", edit_source_path(@source) %-->