<% form_tag :controller => 'admin/locales', :action => 'create' do -%>
  <p><label for="name">Name</label><br/>
  <%= text_field_tag 'name' %> <span class="small grey italic">(example: English)</span></p>

  <p><label for="code">Code</label><br/>
  <%= text_field_tag 'code' %> <span class="small grey italic">(example: en-US)</span></p>

  <p><%= submit_tag 'Create' %> or <%= link_to "back to the translations", admin_translations_path %></p>
<% end %>