app/views/custom/_start_page.html.erb
config/*auto.yml
config/rdfstore.yml
vendor/plugins/talia_core/config/rdfstore.yml
config/talia_core.yml
vendor/plugins/talia_core/config/talia_core.yml
config/database.yml
vendor/plugins/talia_core/config/database.yml
rails_secret
nbproject
sesame*db
vendor/jruby-*
/iip_root/
/data/
delayed_copy*
