app/views/custom/*.html.erb
config/*auto.yml
config/assets.yml
config/rdfstore.yml
vendor/plugins/talia_core/config/rdfstore.yml
config/talia_core.yml
vendor/plugins/talia_core/config/talia_core.yml
config/database.yml
vendor/plugins/talia_core/config/database.yml
rails_secret
nbproject
sesame*db
vendor/jruby-*
/iip_root/
/data/
delayed_copy*
*~
public/images/front_page_logo.gif
public/images/active_scaffold/
public/stylesheets/active_scaffold/
public/custom_templates
public/javascripts/active_scaffold/
*.db
data/*