[submodule "vendor/plugins/ActiveRDF"]
	path = vendor/plugins/ActiveRDF
	url = git://github.com/net7/active_rdf_talia.git
[submodule "vendor/plugins/semantic_naming"]
	path = vendor/plugins/semantic_naming
	url = git://github.com/net7/semantic_naming.git
[submodule "vendor/plugins/widgeon"]
	path = vendor/plugins/widgeon
	url = git://github.com/net7/widgeon.git
[submodule "vendor/plugins/assit"]
	path = vendor/plugins/assit
	url = git://github.com/averell23/assit.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/has_many_polymorphs"]
	path = vendor/plugins/has_many_polymorphs
	url = git://github.com/fauna/has_many_polymorphs.git
[submodule "vendor/plugins/upload_progress"]
	path = vendor/plugins/upload_progress
	url = git://github.com/rails/upload_progress.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
