<select name="<%= "#{field_name}" %>"  id="<%=  "src_line_#{current_size}_#{field_name}" %>" >
  <%=
  unless data.nil?
    index = 0
    data.collect do |item|
      # check if current item will be selected
      if ((index == 0) && (selected_index == :first)) || ((index == (data.size - 1)) && (selected_index == :last))
        selected = true
      else
        selected = false
      end
      # increment counter
      index += 1
  
      # create option field
      "<option #{"selected" if selected} value=#{item[0]}>#{item[1]}</option>"
    end
  end
%>
</select>