<div id="<%= "src_line_#{current_size}" %>" name="src_line" class="src_line">
  <p>
    <%= if field_type.nil?
      result =  w.tag_avmedia_select
      result << w.tag_avmedia_title_words
      result
    else
      result =  w.tag_avmedia_select field_type
      result << case field_type
      when :title_words
        w.tag_avmedia_title_words current_size, field_value
      when :abstract_words
        w.tag_avmedia_abstract_words current_size, field_value
      when :keywords
        w.tag_avmedia_keywords current_size, field_value
      end
      result
    end %>
  </p>
  <%= w.partial :advanced_search_adder, :locals => {:current_size => current_size, :version => "avmedia"} %>
</div>
<!--[if !IE]> linea ricerca<![endif]-->  
