<!-- navigate -->
<div id="menulocation">
   <p><%= "Editor's Introduction".t%></p>
 <%= widget(:simple_mode_tabs, :tabs_elements => @tabs_elements) %>
</div>
<!-- menulocation -->

<div id="description">
  <p> data from DB </p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list" class="minilist">
    
    <li>
      <h1>
        <a href="panorama" title="thumb">
          <img src="img/thumb-1.jpg" alt="thumb"  border="0"/>
          Sigla
        </a>
      </h1>
      <p>
        DESCRIPTION
      </p>
    </li>
    
    
  </ul>
</div>

