<!-- navigate -->
<div id="menulocation">
  <ul>
    <li class="selected"> M-II-2</li>
    
  </ul>
</div>
<!-- menulocation -->

<div id="description">
  <p>data from DB</p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <div id="block_container">
    
    <div class="block">
      <p class="lonely">
        <img src="img/book_thumb_1.jpg" alt="pagina1" /> SIGLA
      </p>
      
    </div>
    <div class="block">
      <p>
        <a href="page_view">
          <img src="img/book_thumb_1.jpg" alt="pagina1" /> 
          SIGLA
        </a>
      </p>
      <p><img src="img/book_thumb_1.jpg" alt="pagina1" /> SIGLA</p>
    </div>
    
  </div>
  <!-- block_container -->
  
</div>


