<h2>Page <%= @widget.sources.current_page %> of <%= @widget.sources.page_count %></h2>

<div>
  <%= widget_partial('source_item', :collection => @widget.sources) %>
</div>
<div>

<%= widget_will_paginate(@widget.sources, :source_options => @widget.source_options) %>
</div>


