@charset "ISO-8859-1";

/* search_box */
#search_box {
    position: absolute;
    top: 2.5em;
    right: 2em;
}

#search_box p {
    text-align: left;
    font-size: 1.2em;
    color: #fff;
}

#search_box p label {
    padding: .4em;
}
#search_box p.head_search input {
    font-size: 1.2em;
    background: #fff;
    width: 7.5em;
    font-size:.9em;
    border: medium double #b7b7b7;
}
#search_box p.head_search a.advsrch {
    display: block;
    color: #FFF;
    font-size: .9em;
    text-decoration: underline;
    line-height: 1.9em;
    text-align: right;
    padding-right: 28px;
}
#search_box p label.invia {
    display: none;
} 
#search_box p input.invia  {
    background: url(/images/categories/invia.gif) no-repeat;
    width: 18px;
    border: 0;
    font-size: 1.2em;
    outline: none;
    text-indent: -9999px;
    margin-left: .4em;
    
}

/* SEARCH ADVANCED */

div#search_adv {
    border-top: 1px solid #bababa;
}

div#search_adv form {
}

div#search_adv form div.src_line {
    background:#ececec url(/images/categories/bg_search_line.jpg) repeat-x 0 bottom;
    float: left;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #fff;
    font-size: 1.2em;
    color: #464646;
}
div#search_adv form div.src_line p {
    padding:0 10px;
}
div#search_adv form div.src_line label {
    float: left;
    padding: 1px 5px 1px 0;
}
div#search_adv form div.src_line p.avvia label {
    display: none;
}
div#search_adv form div.src_line label.toradio {
    margin-left: 5px;
}
div#search_adv form div.src_line input{
    border: 1px solid #c9c9c9;
    padding: 1px;
    float: left;
    display: inline;
    margin-right: 20px;
}
div#search_adv form div.src_line select {
    border: 1px solid #c9c9c9;
    padding: 1px;
    float: left;
    display: inline;
    margin-right: 20px;
    width: 100px;
}
div#search_adv form div.src_line p.avvia input {
    border: 1px solid #c9c9c9;
    padding: 3px 12px;
    background: #f2f2f2;
    margin-left: 0;
}

div#search_adv form div.src_line input.radio {
    margin-right: 2px;
}

div#search_adv form div.src_line div.adder {
    float: right;
    padding: 0 10px;
    width: 68px;
    voice-family: "\"}\""; 
    voice-family:inherit;
    width:48px;
}

div#search_adv form div.src_line div.adder a {
    display: block;
    height: 18px;
    width: 24px;
    text-indent: -9999px;
    float: left;
}
div.adder a.plus {
    background: url(/images/categories/plus.gif) no-repeat center;
}
div.adder a.minus {
    background: url(/images/categories/minus.gif) no-repeat center;
}
