/* CSS Document */

/* ***************** ************** ************** */
/* ***************** TAG GENERICI ************** */
/* ***************** ************** ************** */
* {margin: 0; padding: 0;}

body{
	text-align:left;
	color:#333;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	font-size:0.8125em;

}

body.open {
	background: #FFF url(/images/page_bg.gif) top left repeat-y;
}

/* !!!! SIDE BAR CHIUSO !!!! */
body.closed {
	background: #FFF url(/images/page_bg_side_bar_open.gif) top left repeat-y;
}
/* !!!! SIDE BAR CHIUSO !!!! */


/* DEFINIZIONE TAG */
a{
	color: #355a8e;
	text-decoration: none;
        outline: none;
}
a:hover{
	color: #355a8e;
	text-decoration: underline;
        background-color: transparent;
}
h1{
	font-size:1.3em;
	margin-bottom: 5px;
}
h2{
	font-size:1.2em;
	margin-bottom: 5px;
}
h3{
	font-size:1.1em;
	margin-bottom: 5px;
}
p{
	color:#333333;
	line-height:1.7em;
	font-size:0.9em;
	margin-bottom: 5px;
}
/* DEFINIZIONE TAG */

/* loader */
p.side_bar_loader{
	background:transparent url(/images/loading.gif) center center no-repeat;
	display:block;
	width:auto;
	height:32px;
	text-indent:-9999px;
}

/* ***************** ************** ************** */
/* ***************** CLASSI RICORRENTI ************** */
/* ***************** ************** ************** */
.hidden{
	display:none;
}

.floatClear{
	clear:both;
}

/* ***************** ************** ************** */
/* ***************** MAIN PAGE ELEMENTS ************** */
/* ***************** ************** ************** */
#ext_page{
	margin:0; padding:0;
	/*border:1px solid #996633;*/
	background:transparent url(/images/page_right_edge.gif) top right repeat-y;
}

#int_page{
	margin:0; padding:0;
	/*border:1px solid #339933;*/
}

/* ***************** ************** ************** */
/* ***************** HEADER ************** */
/* ***************** ************** ************** */
#header{
	margin:0;
	padding:0;
	border:0;
	width:100%;
	height:158px;
	background:#666 url(/images/top_bar/header_bg.gif) top left repeat;
}

    #header #title_bar h1{
        padding: 13px 0 0 13px;
    }
    #header #title_bar h1 a{
            font-size:1.7em;
            color:#FFFFFF;
            display: block;
            width: 235px;
            height: 97px;
            background: transparent url(/images/top_bar/header_titolo.gif) top left no-repeat;
            text-indent: -9999px;
    }

    #header #title_bar p.header_subtitle{
            display: none;
    }

    #header div#title_bar{
        height: 122px;
    }
        /* ***************** ************** ************** */
        /* ***************** TOP BAR E DERIVATI ************** */
        /* ***************** ************** ************** */
    #header div#top_bar{
        height: 32px;
        padding: 3px;
        background:transparent url(/images/top_bar/top_bar_bg.gif) top left repeat-x;
        float: right;
        /* text-align: right; */
    }
    
      #header div#top_bar div#top_bar_search{
           display: block;
           float: left;
           height: 32px;
           padding: 0 0 0 3px;
           margin: 0 0 0 10px;
           background:transparent url(/images/top_bar/top_bar_separazione.gif) top left no-repeat;
      }
      
            /*** Search ****/
            #searchform {
              margin: -3px 0 0 0;
              background: transparent url("/images/search_field/bg_search.gif") no-repeat 10px 7px;
            }
            
            #searchform input {
              background: transparent;
              border: none;
              color: #999;
              font-size: 90%;
              height: 18px;
              line-height: 18px;
              margin: 14px 0 0 20px;
              width: 95px;
            }
            #searchform input.focus {
              color: #000;
            }
            * html #searchform input { /** less margin-top for IE */
              margin-top: 10px;
            }
            #searchform.issafari {
              background: transparent;
            }
            #searchform.issafari input {
              color: #000;
              font-size: 100%;
              height: auto;
              margin: 10px 0 0 15px;
              width: 115px;
            }
            #searchform button {
              border: none;
              background: transparent url("/images/search_field/bg_searchbutton.gif") no-repeat 0 0;
              cursor: pointer;
              overflow: hidden;
              text-indent: 50px;
              width: 26px;
              height: 26px;
              margin: 2px 0 -2px 10px;
              outline: none;
            }
            #searchform button:active {
              background-position: 0 -26px;
            }
      
      #header div#top_bar div#top_bar_login{
           display: block;
           float: left;
           height: 32px;
           padding: 0 10px;
           margin: 0 10px;
           background:transparent url(/images/top_bar/top_bar_separazione.gif) top left no-repeat;
      }
      #header div#top_bar div#top_bar_login p{
          display: block;
          height: 32px;
          padding: 0 10px 0 0;
           background:transparent url(/images/top_bar/top_bar_separazione.gif) top right no-repeat;
      }
      #header div#top_bar div#top_bar_login p a{
          display: block;
          width: 23px;
          height: 32px;
          text-indent: -9999px;
          background:transparent url(/images/top_bar/top_bar_login.gif) top left no-repeat;
      }
      #header div#top_bar div#top_bar_login p a:hover{
          background:transparent url(/images/top_bar/top_bar_login_ro.gif) top left no-repeat;
      }
      #header div#top_bar div#top_bar_login div#login_baloon{
          position: absolute;
          display: none;
          top: 145px;
          right: 10px;
          padding: 35px 20px 15px 20px;
          width: 209px;
          height: 154px;
          /* border: 1px solid red; */
          background:transparent url(/images/top_bar/baloon_log_in.png) top left no-repeat;
          z-index: 100;
      }
      
      #header div#top_bar div#top_bar_login div#login_baloon{
      }
    
      #header div#top_bar div#top_bar_login div#login_baloon form{
      }
      
      #header div#top_bar div#top_bar_login div#login_baloon label{
          display: block;
      }
      
      #header div#top_bar div#top_bar_login div#login_baloon input{
          background: transparent url("/images/search_field/bg_search.gif") no-repeat 10px 7px;
          width: 100px;
          display: block;
      }
      
/* ***************** ************** ************** */
/* ***************** SIDE BAR ************** */
/* ***************** ************** ************** */

/* tree: #ext_page #int_page #side_bar */
/* APERTO */
#side_bar{
	position:absolute;
	top:158px;
        height: 300px;
	left:0;
	width:270px;
        /* width: 43px; */
	background:transparent url(/images/side_bar_icons/side_bar_top.gif) top left no-repeat;
}

/* ***************** ************** ************** */
/* ***************** SIDE BAR CONTENT : qui vengono caricati i contenuti contestuali della sidebar************** */
/* ***************** ************** ************** */

/*tree: #side_bar #side_bar_content */
#side_bar #side_bar_content{
	margin: 18px 20px 20px 55px;
	font-size: 0.85em;
	line-height: 1.6em;
}

#side_bar #side_bar_content h1{
	
}

/* !!!! SIDE BAR APERTO !!!! */
#side_bar.open #side_bar_content h1{
	margin:0 0 34px 0;
	display: block;
}
#side_bar.open #side_bar_content p#open_close_button{
	position:absolute;
	left:236px;
	top:17px;
	display: block;
	width:20px;
	height:20px;
}
#side_bar.open #side_bar_content p#open_close_button a{
	display: block;
	width:20px;
	height:20px;
	background:transparent url(/images/button_side_bar_close.gif) top left no-repeat;
	text-indent:-9999px;
}
#side_bar.open #side_bar_content p#open_close_button a:hover{
	background:transparent url(/images/button_side_bar_close_ro.gif) top left no-repeat;
}

#side_bar.open #side_bar_content p{
	display: block;
}
/* !!!! SIDE BAR APERTO !!!! */

/* !!!! SIDE BAR CHIUSO !!!! */

#side_bar.closed #side_bar_content h1{
	display: none;
}
#side_bar.closed #side_bar_content p#open_close_button{
	position:absolute;
	left:10px;
	display: block;
	width:20px;
	height:20px;
}
#side_bar.closed #side_bar_content p#open_close_button a{
	display: block;
	width:20px;
	height:20px;
	background:transparent url(/images/button_side_bar_open.gif) top left no-repeat;
	text-indent:-9999px;
}
#side_bar.closed #side_bar_content p#open_close_button a:hover{
	background:transparent url(/images/button_side_bar_open_ro.gif) top left no-repeat;
}
#side_bar.closed #side_bar_content p{
	display: none;
}
#side_bar.closed #side_bar_content div{
	display: none;
}

/* !!!! SIDE BAR CHIUSO !!!! */


/* ***************** ************** ************** */
/* ***************** CONTENTS ************** */
/* ***************** ************** ************** */
#contents_ext{
	padding:0px;
	background:transparent url(/images/contents_top_left_no_tools_bg.gif) top left repeat-x;
         margin-left:270px;
}
/*
#contents_ext.open{
	margin-left:270px;
}
#contents_ext.closed{
	margin-left:43px;
}
*/
/* !!!! SIDE BAR CHIUSO !!!! */

/* elementi grafici per il content */
#contents_ext #contents_int{
	padding:25px;
	background:transparent url(/images/contents_top_right_no_tools_bg.gif) top right no-repeat;
}


/* ***************** ************** ************** */
/* ***************** FOOTER ************** */
/* ***************** ************** ************** */
/* tree: #footer h1, #footer p */
#footer.open{
	margin: 0 0 0 300px;
}

/* !!!! SIDE BAR CHIUSO !!!! */
#footer.closed{
	margin-left:73px;
}
/* !!!! SIDE BAR CHIUSO !!!! */

/* ***************** ************** ************** */
/* ***************** ************** ************** */
/* ***************** DEFINIZIONE STILI TYPES ************** */
/* ***************** ************** ************** */
/* ***************** ************** ************** */

/* tree: #ext_page #int_page #side_bar */
/* APERTO */
#side_bar.open div#widget_navigation_bar_default{
	border-top: 2px solid #efefef;
	display: block;
	width: 212px;
	padding: 10px 0 0 0;
}
#side_bar.open div#widget_navigation_bar_default h3{
	/* text-transform: uppercase; */
	font: normal normal 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	display: block;
	width: 212px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #efefef;
	text-decoration: none;
}

#side_bar.open div#widget_navigation_bar_default h3 a{
	text-decoration: none;
	color: #929292;
}

/* CHIUSO */
#side_bar.closed div#widget_navigation_bar_default{
	display:  none;
}
#side_bar.closed div#widget_context_bar_default{
	display:  none;
}

/* lista risultati */
div#contents_int div#widget_source_list_default{
	display: block;
	padding: 10px 0 0 0;
}
div#contents_int div#widget_source_list_default h3{
	padding: 10px 0 0 0;
	/* display: block;
	font-variant: small-caps;*/
}
div#contents_int div#widget_source_list_default div div#widget_source_snippet_default h3{
	color: #000;
	font-size: 14px;
	font-style: normal;	
}
div#contents_int div#widget_source_list_default div div#widget_source_snippet_default h3 a{
	color: #a08d52;
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
}
div#contents_int div#widget_source_list_default div div#widget_source_snippet_default  h3 a:hover{
	text-decoration: underline;
}

div#contents_int div#widget_source_list_default div.primary_source div#widget_source_snippet_default h3{
	color: #000;
	font-size: 14px;
	font-style: normal;	
}
div#contents_int div#widget_source_list_default div.primary_source div#widget_source_snippet_default h3 a{
	font-size: 14px;
	color: #355a8e;
	text-decoration: none;
	font-style: normal;
}
div#contents_int div#widget_source_list_default div.primary_source div#widget_source_snippet_default  h3 a:hover{
	text-decoration: underline;
}

div#contents_int div#widget_source_list_default p{
}

div#contents_int div#widget_source_snippet_default h3{
	font-size: 20px;
	color: #000;
}
div#contents_int div#widget_source_snippet_default h3 a{
	font-size: 20px;
	font-weight: bold;
}
div#contents_int h3{
	font-size: 10px;
	color: #9e9e9e;
	font-weight: normal;
}

#contents_int h2{
	border-top: 1px solid #ccc;
	margin: 10px 0 10px 0;
	padding:  10px 0 0 0;
	color: #666;
	font-size: 18px;
	font-weight: normal;
}

/* elementi titolo paragrafo formattazione futura*/
div#contents_int div.section{
	border-top: 1px solid #ccc;
	margin: 10px 0 0 0;
	padding:  10px 0 0 0;
}

div#contents_int div.section h1{
	color: #666;
	font-size: 18px;
	font-weight: normal;
}

div#contents_int div.section p{
}


div#html_data h3{ 
    font-size: 1.1em;
    color: #666666;
}

div#html_data h4{ 
    color: #666666;
}

div#html_data ul{ 
    margin-left: 3em;
    margin-bottom: 1em;
}

div#html_data img{ 
    float:right;
    margin: 3em 0em 3em 3em;
}

#flash_error, #errorExplanation, #errorExplanation h2 {
	color: #f00;
}

#errorExplanation ul {
	list-style-type: none;
}

#flash_notice, .notice {
	color: #0c0;
}

.left {
	text-align: left;
}

.notice {
	font-size: 1.2em;
}

.clear {
  clear: both;
}

#login_box {
	float: right;
	margin: 10px;
}

#login {
	margin: 20px 300px;
	padding: 20px;
	background-color: #efefef;
	border: 8px solid #ccc;
}

#login label {
	font-size: 1.8em;
}

#login input[type=text], #login input[type=password] {
	margin: 0;
	padding: 0;
	border: 2px solid #ccc;
	background-color: #fff;
	font-size: 1.6em;
}

#login input[type=submit] {
  font-size: 1.3em;	
}

#openid_login p input[type=text] {
	background: #fff url(/images/openid-login-bg.gif) no-repeat top left;
	padding-left: 20px;
}

.rdf_header {
	margin-top: 15px;
	padding-left: 10px;
	background: #333 url(/images/rdf_header_bg.gif) repeat-x top left;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}

.add, .remove, .trash {
	border: none;
}

.add {
	float: right;
	margin-top: -18px;
	margin-right: 8px;
}

.predicates {
	padding-left: 10px;
}

#data ul {
	list-style-type: none;
}

#data p {
	margin-top: 25px;
}

.data {
	font-size: .7em;
	padding: 2px;
	margin-right: 2px;
}

.file {
	background-color: #ff9;
}

.text {
	background-color: #009;
	color: #fff;
}

.xml {
	background-color: #090;
	color: #fff;
}

.image {
	background-color: #900;
	color: #fff;
}

#data_form {
	margin-top: 15px;
	padding: 10px;
	background-color: #ccc;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
	display: none;
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #0c0;
  height: 18px;
  width: 0%;
}