@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 62.5%;
	font-family: Arial, "Lucida Grande", Verdana, "Bitstream Vera Sans", Avenir, Helvetica, sans-serif;
		background:#fff url(/images/critical_edition/bg_head.gif) repeat-x  top /*sfondo di testata */;

}



h1, h2, h3, h4, p, ul, li {
	font-size: 1em;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#page_ext {
	width: 100%;
	
}



/*  ******************************************/
/* TESTATA ***********************************/
/*  ******************************************/


#header {
	height: 150px;
	width: 100%;
	position: relative;	
	background: url(/images/critical_edition/bg_mainhead.jpg) no-repeat left top /*grafica di testata */;

}

#header h1 {
	height: 150px;
	text-indent: -9999px;
	margin-right: 200px;
	outline: none;
}


#header h2 {
	display: none;
} 


/* search_box */
#search_box {
	position: absolute;
	top: 2.5em;
	right: 2em;
}

#search_box p {
	text-align: left;
	font-size: 1.2em;
	color: #fff;
}

#search_box p label {
	padding: .4em;
}
#search_box p.head_search input {
	font-size: 1.2em;
	background: #fff;
	width: 7.5em;
	font-size:.9em;
	border: medium double #b7b7b7;
}
#search_box p.head_search a.advsrch {
	display: block;
	color: #fff;
	font-size: .9em;
	text-decoration: underline;
	line-height: 1.9em;
	text-align: right;
	padding-right: 28px;
}
#search_box p label.invia {
	display: none;
} 
#search_box p input.invia  {
	background: url(/images/critical_edition/invia.gif) no-repeat;
	width: 18px;
	border: 0;
	font-size: 1.2em;
	outline: none;
	text-indent: -9999px;
	margin-left: .4em;

}

/* bottone switch */

#switch {
	position: absolute;
	right: 3em;
	bottom: 2em;
	z-index: 3;	
}



#switch a {
	display: block;	

	outline: none;	
	text-indent: -9999px;
	cursor:pointer;
	font-size:2em;
	width: 140px;
	height: 30px;	
	background: url(/images/critical_edition/scholarmode.gif) ;

}


/* NAVIGATE **********************************/

#navigate {
	background:#433934 url(/images/critical_edition/bg_first_line.gif) repeat-x top;
	width: 100%;
	float: left;
}
#navigate a {
	color: #e0e0e0;
	text-decoration: underline;
}
#navigate p {
	padding: 10px;
	color: #fff;
	font-size: 1.2em;
}

.simple_mode_path_widget {
	padding: 10px;
	color: #fff;
	font-size: 1.2em;
}

#navigate #tools {
	float: right;
	margin:5px 10px;
}
#navigate #tools ul {
	float: left;
	list-style: none;
	padding: 0 20px;
	border-left:1px dotted #fff
}

#navigate #tools ul li {
	float: left;
	padding:6px 6px 6px 30px;
	font-size: 1em; 
	display: block;
}
#navigate #tools ul li#print {
	background: url(/images/critical_edition/print.gif) no-repeat left center;
}



/* SEARCH ADVANCED */

/* highlight results */

.match {
    font-weight: bold;
}

div#search_adv {
	border-top: 1px solid #bababa;
}

div#search_adv form {
}
 
div#search_adv form div.src_line {
	background:#ececec url(/images/critical_edition/bg_search_line.jpg) repeat-x 0 bottom;
	float: left;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #fff;
	font-size: 1.2em;
	color: #464646;
}
div#search_adv form div.src_line p {
	padding:0 10px;
}
div#search_adv form div.src_line label {
	float: left;
	padding: 1px 5px 1px 0;
}
div#search_adv form div.src_line p.avvia label {
	display: none;
}
div#search_adv form div.src_line label.toradio {
	margin-left: 5px;
}
div#search_adv form div.src_line input, div#search_adv form div.src_line select {
	border: 1px solid #c9c9c9;
	padding: 1px;
	float: left;
	display: inline;
	margin-left: 10px;
}
div#search_adv form div.src_line select {
	margin-right: 35px;
	width: 100px;
}
div#search_adv form div.src_line p.avvia input {
	border: 1px solid #c9c9c9;
	padding: 3px 12px;
	background: #f2f2f2;
	margin-left: 0;
}
div#search_adv form div.src_line div.adder {
	float: right;
	padding: 0 10px;
	width: 68px;
	voice-family: "\"}\""; 
voice-family:inherit;
	width:48px;
}

div#search_adv form div.src_line div.adder a {
	display: block;
	height: 18px;
	width: 24px;
	text-indent: -9999px;
	float: left;
}
div.adder a.plus {
	background: url(/images/critical_edition/plus.gif) no-repeat center;
}
div.adder a.minus {
	background: url(/images/critical_edition/minus.gif) no-repeat center;
}
/*  ******************************************/
/* CONTENT ***********************************/
/*  ******************************************/

#content {	
	width: 100%;
	float: left;
	text-align: center;
	text-align: left;
}




/* scroll laterale ************************ */

#scroll {
	float: left;
	width: 210px;
	display: inline;
	margin:0 10px 0 0;
	background: #f4f4f4;
	border: 1px solid #e0e0e0;
	overflow: auto;
	text-align: left;
	height: 550px;
}



/* SCROLL MENU *************************** */

#scroll h1 {
	font-family: georgia, serif;
	font-weight: normal;
	font-size: 1.6em;
	background: #fff;
	padding: 14px 12px 18px 12px ;
}
#scroll ul {
	display: block;
	padding: 0;
	margin: 0;
}

#scroll ul.toplevel {
	border-bottom: 1px solid #e0e0e0;
}

#scroll ul li {
	display: block;
	padding: 0;
	background:#eee url(/images/critical_edition/bg_leftlist.gif) no-repeat top left;
	border-top: 1px solid #e0e0e0;
}

#scroll ul li a {
	padding: 8px 0 8px 14px ;
	display: block;
	color: #000;
	margin: 0 10px;
}

#scroll ul.book li a  {
	background: url(/images/critical_edition/book.gif) no-repeat left;
}
#scroll ul.secondlevel li a  {
	color: #666;
		margin: 0 20px;
}
#scroll ul.thirdlevel li {
	background-position: right;
}
#scroll ul.thirdlevel li a  {
	color: #666;
		margin: 0 30px;
}
#scroll ul.pages li a {
	background: url(/images/critical_edition/pages.gif) no-repeat left;
}
#scroll ul.page li a {
	background: url(/images/critical_edition/page.gif) no-repeat left;
}

/* *************************************** */
/* *************************************** */
/* *************************************** */
/* CONTENT 100% tolta la barra di sinistra */
/* *************************************** */

#content.divided {
	float: right;
	margin-left: -232px;
	width: 100%;
}

#content.grey {
	background: #f3f3f3;
}


#content.divided div#visore {
	margin-left: 232px;
	overflow: auto;
	height: 550px;
}
#content.divided div#visore.extended {
	margin-left: 20px;
}


div#visore h1 {
	color: #584239;
	font-family: georgia, serif;
	font-weight: normal;
	font-size: 2.6em;
	line-height: 3.8em;
}

div#visore h2 {
	color: #898989;
	font-family: georgia, serif;
	font-weight: normal;
	font-size: 1.6em;
	line-height: 2.4em;
}
div#visore h2 span {
	color: #900;
}

div#visore.extended h1 {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
} 

div#visore p{
/*    
        font-size: 1.2em;
    */
	color: #000;
	line-height: 2em;
	padding-bottom: 20px;
}

div#visore p.editedby {
/*	font-size: 1.6em;
	line-height: 1em;
    */
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

div#visore p.editedby span {
	display: block;
	font-size: .7em;
}

div#visore p.about {
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;

}
div#visore p.about a {
	color: #000;
text-decoration: underline;}



/* TXT BLOCK ******************* */

div#visore div.txt_block {
	border: 1px solid #e5e5e5;
	background: #fff;
	padding: 25px;
	margin: 25px 20px 0 0 ;
}

/* tools */
div#visore div.resultstools {
	padding:10px 15px;
	margin:15px 20px 10px 0;
	color: #999;
	font-size: 1.2em;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-left: 0;
	border-bottom: 0;
}
div#visore div.resultstools a {
	color: #999;
	padding: 5px;
}
div#visore div.resultstools div.print {
	float: right;
}
div#visore div.resultstools div.print a {
	padding-left: 30px;
	background: url(/images/critical_edition/print.gif) no-repeat left center;
}

div#visore div.txt_block p.pg_number {
	text-align: center;
	font-family: georgia, serif;
	color: #898989;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.5em;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

div#visore div.txt_block p.addons {
	text-align: right;
	color: #909090;
		border-top: 1px solid #e5e5e5;
	font-family: georgia, serif;
	
}
div#visore div.txt_block p.addons a {
	text-decoration: underline;
	color: #8c8c8c;
}

div#visore ul.results {
	border-top: 1px solid #e5e5e5;
	background: #fff;
	float: none;
	margin: 10px 20px 0 0 ;
	list-style: none;
}
div#visore ul.results li {
	padding: 15px;
	float: none;
	border-bottom: 1px solid #e5e5e5;
}
div#visore ul.results li h3 {
	font-size: 1.2em;
	float: none;
	margin-bottom: 10px;
}
div#visore ul.results li h3 label {
	display: none;
}
div#visore ul.results li h3 input {
	margin: 0 5px ;
	background: #fff;
	border:1px solid #e5e5e5;
	
}
div#visore ul.results li h3 span {
	font-style: italic;
}

div#visore ul.results li p {
	font-weight: normal;
	font-size: 1.2em;
	float: none;
	line-height: 1.6em;
	padding-bottom: 5px;
}