@charset "ISO-8859-1";

/* ******************************************************************* */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ******************************************************************* */
/* TAG SETTINGS */
/* ******************************************************************* */
body {
    font-size: 62.5%;
    font-family: Arial, "Lucida Grande", "Bitstream Vera Sans", Avenir, Helvetica, sans-serif;
}

h1, h2, h3, h4, p, ul, li {
    font-size: 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: transparent !important;
}

/* ******************************************************************* */
/* GENERAL CLASSES */
/* ******************************************************************* */
.float_clear {
    clear: both;
}

/* ******************************************************************* */
/* MAIN PAGE ELEMENTS */
/* ******************************************************************* */
#page_ext {
    width: 100%;
}

/* ******************************************************************* */
/* HEADER */
/* ******************************************************************* */
#header {
	height: 150px;
	width: 100%;
	position: relative;	
}

#header h1 {
    height: 150px;
    text-indent: -9999px;
    margin-right: 200px;
    outline: none;
}
    #header h2 {
            position: absolute;
            margin: 0; padding: 0;
            top: 75px;
            left: 398px;
            font-size: 2.2em;
            font-weight: normal;
            text-transform: uppercase;
            color: white;
            font-family: Georgia, "Times New Roman", Times, serif;
            display: block;
            width: 400px;
    }

    #header h3 {
            position: absolute;
            margin: 0; padding: 0;
            top: 103px;
            left: 398px;
            font-size: 1.6em;
            font-weight: normal;
            text-transform: uppercase;
            color: white;
            font-family: Georgia, "Times New Roman", Times, serif;
            display: block;
            width: 400px;
    } 

/* ******************************************************************* */
/* SEARCH BOX AT THE TOP ROGHT OF THE HEADER */
/* ******************************************************************* */
#search_box {
    position: absolute;
    top: 2.5em;
    right: 2em;
}
    #search_box p {
        text-align: left;
        font-size: 1.2em;
        color: #fff;
    }

    #search_box p label {
        padding: .4em;
    }

/* ******************************************************************* */
/* SWITCH BUTTON. LINKS TO SCHOLAR MODE */
/* ******************************************************************* */
#switch {
    position: absolute;
    right: 3em;
    bottom: 2em;
    z-index: 3;	
}

    #switch a {
        display: block;	
        outline: none;	
        text-indent: -9999px;
        cursor:pointer;
        font-size:2em;
        width: 140px;
        height: 30px;	
        background: url(/images/scholarmode.gif) ;
    }

/* ******************************************************************* */
/* NAVIGATION BAR */
/* HOLDS PATH AND TOOLS */
/* ******************************************************************* */
#navigate {
    background:#433934 url(/images/bg_first_line.gif) repeat-x top;
    width: 100%;
    float: left;
}
    #navigate a {
        color: #e0e0e0;
        text-decoration: underline;
    }

    #navigate p {
        padding: 10px;
        color: #fff;
        font-size: 1.2em;
    }

.simple_mode_path_widget {
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
}

#navigate #tools {
    float: right;
    margin:5px 10px;
}
    #navigate #tools ul {
        float: left;
        list-style: none;
        padding: 0 20px;
        border-left:1px dotted #fff
    }

    #navigate #tools ul li {
        float: left;
        padding:6px 6px 6px 30px;
        font-size: 1em; 
        display: block;
    }

    #navigate #tools ul li#panorama {
        background: url(images/panorama.gif) no-repeat left center;
    }
    #navigate #tools ul li#pdfdownload{
        background: url(images/pdfdownload.gif) no-repeat left center;
    }
    #navigate #tools ul li#pagina {
        margin-left: 10px;
        background: url(imges/pagina.gif) no-repeat left center;
    }

    
/* ******************************************************************* */
/* MENU LOCATION  - ORIZONTAL MENU UNDER PATH *******************************/
/* ******************************************************************* */    
#menulocation {
    background: #e9e9e9;
    width: 100%;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
}
    #menulocation p {
        color: #1c1817;
        padding: 10px;
        float: left;
    }
    #menulocation ul {
        list-style: none;
        float: left;
    }
        #menulocation ul li {
            float: left;
            padding: 10px ;
            padding-right: 25px;
            color: #6a615d;
            background-image: url(/images/bg_menucut.gif) ;
            background-repeat: no-repeat;
            background-position:  right center;
        }
        #menulocation ul li a {
            color: #1c1817;
            display: block;
        }
        #menulocation a:hover {
            color: #2d5971;
        }
        #menulocation ul li.selected {
            background-color: #f2f1f1;	
        }
        #menulocation ul li.selected  a{
            color: #6a615d;
        }

/* ******************************************************************* */
/* DESCRIPTION  - UNDER TAB MENU *******************************/
/* ******************************************************************* */
#description {
    float: left;
    background:#f2f1f1;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
    #description p {
        float: left;
        font-size: 1.2em;
        padding: 10px 1%;
        line-height: 1.4em;
        color: #1c1817;
        width: 100%;
        voice-family: "\"}\""; 
        voice-family:inherit;
        width:98%;

    }

/* Standard size of the two elements */
/* ******************************************************************* */
/* Side Scroll item */
/* ******************************************************************* */
#scroll {
    float: left;
    width: 192px;
    display: inline;
    margin: 0 0 0 0;
    padding: 5px;
    background: #f4f4f4;
   /*  border: 1px solid #e0e0e0; */
    border-right: 1px solid #e0e0e0;
    overflow: auto;
    text-align: left;
    /* setting height here... but later is changed with js */
    height: 550px;
    /* SOLUZIONE */
    position: relative;
    z-index: 100;
    /* SOLUZIONE */
}


/*  ******************************************/
/* CONTENT ***********************************/
/*  ******************************************/
#content {	
  width: 100%;
  float: left;
  text-align: center;
  margin: 0; padding: 0;
}

    #content.divided {
        float: right;
        margin-left: -204px;
        width: 100%;
        /* SOLUZIONE */
        z-index: -1;
        /* SOLUZIONE */
    }

    div#visore {
        margin-left: 204px;
        overflow:auto;
        text-align: center;
    }


/* LISTONA ***********************************/
ul#access_list {
    margin: 15px 4%;
    padding: 0;
    list-style: none;
    text-align: left;
}

    ul#access_list li {
        padding: 2% 0;
        float: left;
        clear: both;
        background: url(/images/dot_orizz.gif) repeat-x bottom;
        width: 100%;
        voice-family: "\"}\""; 
        voice-family:inherit;
        width:96%;

    }
    ul#access_list li h1 {
        color: #6a615d;
        font-size: 1.4em;
    }
        ul#access_list li h1 a {
            color: #6a615d	;
        }
        ul#access_list li h1 img {
            float: left;
            display: inline;
            padding-right: 30px;
        }
    ul#access_list li p.title{
        padding: 0 0 0 0;
        margin-left: 130px;
        display:block;
        float: none;	
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.6em;
    }
    ul#access_list li p.text{
        padding: 5px 0 0 0;
        margin-left: 130px;
        display:block;
        float: none;	

        font-size: 1.2em;
        line-height: 1.6em;
    }
    ul#access_list li p.data{
        padding: 5px 0 0 0;
        margin-left: 130px;
        display:block;
        float: none;	

        font-size: 1.1em;
        line-height: 1.6em;
    }
    ul#access_list li p.keys{
        padding: 10px 0 0 0;
        margin-left: 130px;
        display:block;
        float: none;	
        font-size: 1.1em;
        line-height: 1.6em;
        color: #808080;
    }
    ul#access_list li p.keys a{
        line-height: 1.6em;
        text-decoration: underline;
        color: #808080;
    }
    
    /* MINILIST */
    ul#access_list.minilist h1 {
        font-size: 1em;
        float: left;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        color: #3c3c3c;
        padding: 0 15px;
    }

        ul#access_list.minilist h1 a {
            color: #3c3c3c;
        }
        ul#access_list.minilist li h1 img {
            float: none;
            display: block;
            margin-bottom: 4px;
            padding-right: 0;
            border:1px solid #808080;
        }
    


/* ********************************* */
/* Blocks that conains the pages in the panorama view */
/* When displayed as full page or in the side scroll */
/* ********************************* */

/* Let''s assume images will be displayed at maximum size 80 x 120 pixels */

#block_container {
        margin: 15px 5%;
        float: left;
        display: inline;
        width: 90%;
        text-align: left;
    }
    #block_container div.block, #scroll div.view_block  {
        width: 170px;
        height: 140px;
        float: left;
        display: inline;
        padding: 5px 0 2px 5px;
        border: 1px solid #e0e0e0;
        background-color: #f3f3f3;
    }
    #block_container div.block {
      margin: 0 10px 10px 0;
    }
    #scroll div.view_block  {
      margin: 0 10px 3px 0;
    }
    #view div.view_block p img {
        /* margin-bottom: 5px; */
    }
    #block_container div.block p, #scroll div.view_block p {
          margin:0 5px 0 0 !important; padding: 0 !important;
          text-align: center;
          color: #848484;
           float: left;
        width: 80px;
        display: inline;
        font-size: 0.9em;
    }
    #block_container div.block p.lonely, #scroll div.view_block p.lonely {
      margin:0 !important; padding: 0 !important;
      text-align: center;
      color: #848484;
        font-size: 0.9em;
    }
    #block_container div.block p.lonely img, #scroll div.view_block p.lonely img  {
       width: 80px; height: 120px;
        margin:0 auto;
    }
    #block_container div.block p img, #scroll div.view_block p img  {
       /* width: 80px; height: 120px; */
        margin:0 auto;
        border: none;
        /* margin: 10px 4px 5px 4px; */
    }
    #block_container div.block p a, #scroll div.view_block p a{
      text-align: center;
      color: #848484;
    }
    #block_container div.block p a img, #scroll div.view_block p a img, #block_container div.block p a:hover img, #scroll div.view_block p a:hover img{
      border: none;
    }
    /*
    #scroll div.view_block p.lonely img {
        margin-right: 0;
    }
    */
    /* FACING PAGES */
    div#scroll div.simple_mode_panorama_widget div.facing_pages {
        width: 170px;
        /* height: 140px; */
        float: left;
        text-align: center;
        margin: 0 10px 10px 0;
        display: inline;
    }
    div#scroll div.simple_mode_panorama_widget div.facing_pages a{
        display: block;
        width: 170px;
        border: 1px solid #e0e0e0;
        background-color: #f3f3f3;
        padding: 2px 0 2px 5px;
        color: #848484;
    }
    div#scroll div.simple_mode_panorama_widget div.facing_pages a:hover{
        text-decoration: none;
        display: block;
        width: 170px;
        border: 1px solid #b8b8b8;
        background-color: #f3f3f3;
    }
/* ********************************* */
/* ********************************* */
    
/*  ******************************************/
/* TOOLBAR ***********************************/
/*  ******************************************/
#toolbar {
    margin: 15px 15px;
    width: auto;
    float: left;
}
#toolbar p {
    float: left;
    display: block;
    font-size: 1.6em;	
    background: #f4f4f4;
    line-height: 2em;
    color: #757575;
    
}
#toolbar p.previous {
    background: url(/images/previous.gif) no-repeat left top;
}
#toolbar p.next{
    background: url(/images/next.gif) no-repeat right top;
}
#toolbar p.sigla {
    width: 5em;
    border: 1px solid #d9d9d9;
}
#toolbar p.zoom {
    border: 1px solid #d9d9d9;
    width: 5.4em;
    border-left: 0;
    border-right: 0;
    
}
#toolbar p select {
    width: 5em;
    margin-top:5px ;	
    font-size:.7em;
    margin-bottom: 8px;
    
}
#toolbar p.tooltools {
    float: left;
    width: 80px;
    border: 1px solid #d9d9d9;
}
#toolbar p.tooltools a {
    text-indent: -9999px;
    display: block;
    float: left;	
    width: 40px;
}
#toolbar p.tooltools a.pdf{	
    background: url(/images/ico_download.gif) no-repeat center;
}
#toolbar p.tooltools a.print{	
    background: url(/images/ico_print.gif) no-repeat center;
}
#toolbar p.previous a, #toolbar p.next a   {
    display: block;
    height: 32px;
    width: 28px;
    text-indent: -9999px;
}

/* ********************************* */
/* Main div on the right side, next to the scroll */
/* ********************************* */
#image_big {
  height: 100%;
  margin: 0 auto;
  clear: both;
  padding: 0;
}
#image_big img {
    clear: both;
    margin-top: 15px;
}

/* ********************************* */
/* IIP Viewer - Flash Zoom Tool */
/* ********************************* */
div.iipfview {
    /* padding: 10ex; */
    margin: 0 10px;
    border: 1px solid #e0e0e0;
    padding: 2px;
    height: 100%;
}
/* ********************************* */
