/* CSS Document */

/* ***************** ************** ************** */
/* ***************** TAG GENERICI ************** */
/* ***************** ************** ************** */
* {margin: 0; padding: 0;}

body.open {
	text-align:left;
	color:#333;
	margin: 0;
	padding: 0;
	border: 0;
	background:#FFF url(/images/page_bg.gif) top left repeat-y;
	font-family: Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	font-size:0.8125em;
}

/* !!!! SIDE BAR CHIUSO !!!! */
body.closed {text-align:left;
	color:#333;
	margin: 0;
	padding: 0;
	border: 0;
	background:#FFF url(/images/page_bg_side_bar_open.gif) top left repeat-y;
font-family: Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	font-size:0.8125em;
}
/* !!!! SIDE BAR CHIUSO !!!! */

a{
}

a:hover{
}

h1{
	font-size:1.3em;
}

h2{
	font-size:1.2em;
}

h3{
	font-size:1.1em;
}

p{
	color:#333333;
	line-height:1.5em;
	font-size:0.9em;
}

/* loader */

p.side_bar_loader{
	background:transparent url(/images/loading.gif) center center no-repeat;
	display:block;
	width:auto;
	height:32px;
	text-indent:-9999px;
}

/* ***************** ************** ************** */
/* ***************** CLASSI RICORRENTI ************** */
/* ***************** ************** ************** */
.hidden{
	display:none;
}

.floatClear{
	clear:both;
}


/* ***************** ************** ************** */
/* ***************** MAIN PAGE ELEMENTS ************** */
/* ***************** ************** ************** */
#ext_page{
	margin:0; padding:0;
	/*border:1px solid #996633;*/
	background:transparent url(/images/page_right_edge.gif) top right repeat-y;
}

#int_page{
	margin:0; padding:0;
	/*border:1px solid #339933;*/
}

/* ***************** ************** ************** */
/* ***************** HEADER ************** */
/* ***************** ************** ************** */
#header{
	margin:0;
	padding:0;
	border:0;
	width:100%;
	height:158px;
	background:#666 url(/images/header_bg.gif) top left repeat;
}

#header h1{
	padding:10px 0 0 10px;
	margin:0; border:0;
	font-size:1.7em;
	color:#FFFFFF;
}

#header p.header_subtitle{
	padding:10px 0 0 10px;
	margin:0; border:0;
	font-size:1.1em;
	color:#FFFFFF;
}


/* ***************** ************** ************** */
/* ***************** SIDE BAR ************** */
/* ***************** ************** ************** */

/* tree: #ext_page #int_page #side_bar */
/* APERTO */
#side_bar.open{
	position:absolute;
	top:158px;
	left:0;
	width:270px;
	/*border:1px solid #CC9900;*/
	background:transparent url(/images/side_bar_top.gif) top left no-repeat;
}


/* CHIUSO */
#side_bar.closed{
	position:absolute;
	top:158px;
	left:0;
	width:43px;
	/*border:1px solid #CC9900;*/
	background:transparent url(/images/side_bar_top_closed.gif) top left no-repeat;
}

/* ***************** ************** ************** */
/* ***************** MENU della SIDE BAR ************** */
/* ***************** ************** ************** */

/* top */
/* tree: #side_bar ul#top_menu li a */
#side_bar ul#top_menu{
	position:absolute;
	list-style:none;
	margin:60px 0 0 0; padding:0; border:0;
}

#side_bar ul#top_menu li{
	list-style:none;
	margin:0 0 4px 0; padding:0; border:0;
	display:block;
	width:41px;
	height:42px;
}

#side_bar ul#top_menu li a{
	display:block;
	width:40px;
	height:42px;
	text-indent:-9999px;
	/*border:1px solid #FFFF00;*/
	background:transparent url(/images/side_bar_icon.gif) top left no-repeat;
}

#side_bar ul#top_menu li a:hover{
	display:block;
	width:40px;
	height:42px;
	text-indent:-9999px;
	/*border:1px solid #FF0000;*/
	background:transparent url(/images/side_bar_icon_ro.gif) top left no-repeat;
}


/* bottom */
/* tree: #side_bar ul#bottom_menu li a */
#side_bar ul#bottom_menu{
	position:absolute;
	list-style:none;
	margin:0px 0 0 0; padding:0; border:0;
	/*bottom:0;*/
        
}

#side_bar ul#bottom_menu li{
	list-style:none;
	margin:0 0 4px 0; padding:0; border:0;
	display:block;
	width:41px;
	height:42px;
}

#side_bar ul#bottom_menu li a{
	display:block;
	width:40px;
	height:42px;
	text-indent:-9999px;
	/*border:1px solid #FF9933;*/
	background:transparent url(/images/side_bar_icon.gif) top left no-repeat;
}

#side_bar ul#bottom_menu li a:hover{
	display:block;
	width:40px;
	height:42px;
	text-indent:-9999px;
	/*border:1px solid #6699CC;*/
	background:transparent url(/images/side_bar_icon_ro.gif) top left no-repeat;
}


/* ***************** ************** ************** */
/* ***************** SIDE BAR CONTENT : qui vengono caricati i contenuti contestuali della sidebar************** */
/* ***************** ************** ************** */


/*tree: #side_bar #side_bar_content */
#side_bar #side_bar_content{
	margin: 18px 20px 20px 55px;
	font-size: 0.85em;
	line-height: 1.6em;
}

#side_bar #side_bar_content h1{
	
}


/* !!!! SIDE BAR APERTO !!!! */
#side_bar.open #side_bar_content h1{
	margin:0 0 34px 0;
	display: block;
}
#side_bar.open #side_bar_content p#open_close_button{
	position:absolute;
	left:236px;
	top:17px;
	display: block;
	width:20px;
	height:20px;
}
#side_bar.open #side_bar_content p#open_close_button a{
	display: block;
	width:20px;
	height:20px;
	background:transparent url(/images/button_side_bar_close.gif) top left no-repeat;
	text-indent:-9999px;
}
#side_bar.open #side_bar_content p#open_close_button a:hover{
	background:transparent url(/images/button_side_bar_close_ro.gif) top left no-repeat;
}

#side_bar.open #side_bar_content p{
	display: block;
}
/* !!!! SIDE BAR APERTO !!!! */



/* !!!! SIDE BAR CHIUSO !!!! */
#side_bar.closed #side_bar_content h1{
	display: none;
}
#side_bar.closed #side_bar_content p#open_close_button{
	position:absolute;
	left:10px;
	display: block;
	width:20px;
	height:20px;
}
#side_bar.closed #side_bar_content p#open_close_button a{
	display: block;
	width:20px;
	height:20px;
	background:transparent url(/images/button_side_bar_open.gif) top left no-repeat;
	text-indent:-9999px;
}
#side_bar.closed #side_bar_content p#open_close_button a:hover{
	background:transparent url(/images/button_side_bar_open_ro.gif) top left no-repeat;
}

#side_bar.closed #side_bar_content p{
	display: none;
}
/* !!!! SIDE BAR CHIUSO !!!! */


/* ***************** ************** ************** */
/* ***************** CONTENTS ************** */
/* ***************** ************** ************** */
#contents_ext.open{
	margin-left:270px;
	/*border:1px solid #3399FF;*/
	padding:0px;
	background:transparent url(/images/contents_top_left_no_tools_bg.gif) top left repeat-x;
}

/* !!!! SIDE BAR CHIUSO !!!! */
#contents_ext.closed{
	margin-left:43px;
padding:0px;
	background:transparent url(/images/contents_top_left_no_tools_bg.gif) top left repeat-x;
}
/* !!!! SIDE BAR CHIUSO !!!! */

/* elementi grafici per il content */
#contents_ext #contents_int{
	padding:25px;
	background:transparent url(/images/contents_top_right_no_tools_bg.gif) top right no-repeat;
}


/* ***************** ************** ************** */
/* ***************** FOOTER ************** */
/* ***************** ************** ************** */
/* tree: #footer h1, #footer p */
#footer.open{
	margin: 0 0 0 300px;
}

/* !!!! SIDE BAR CHIUSO !!!! */
#footer.closed{
	margin-left:73px;
}
/* !!!! SIDE BAR CHIUSO !!!! */




