@charset "ISO-8859-1";

/* ******************************************************************* */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* ******************************************************************* */
/* TAG SETTINGS */
/* ******************************************************************* */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
    font-size: 62.5%;
    font-family: Arial, "Lucida Grande", "Bitstream Vera Sans", Avenir, Helvetica, sans-serif;
}

/*
h1, h2, h3, h4, p, ul, li {
    font-size: 1em;
}
*/

a {
    text-decoration: none;
    outline: none;
}
a[href]:hover {
    text-decoration: underline;
    background-color: transparent;
    outline: none;
}
a:active
{
  outline: none;
}

/* ******************************************************************* */
/* GENERAL CLASSES */
/* ******************************************************************* */
.float_clear {
    clear: both;
}

/* ******************************************************************* */
/* MAIN PAGE ELEMENTS */
/* ******************************************************************* */
#page_ext {
    width: 100%;
}


.translate_element {
    background: transparent url(/images/icons/pen.png) center center no-repeat;
    width: 12px;
    height: 12px;
    padding: 8px;
}
/* ******************************************************************* */
/* HEADER */
/* ******************************************************************* */
#header {
    height: 93px;
    width: 100%;
    position: relative;	
}

#header h1 {
    height: 93px;
    text-indent: -9999px;
    margin-right: 200px;
    outline: none;
}
    #header h2 {
            position: absolute;
            margin: 0; padding: 0;
            bottom: 32px;
            left: 358px;
            font-size: 1.8em;
            font-weight: normal;
            text-transform: uppercase;
            color: white;
            font-family: Georgia, "Times New Roman", Times, serif;
            display: block;
            width: 400px;
    }

    #header h3 {
            position: absolute;
            margin: 0; padding: 0;
            bottom: 12px;
            left: 358px;
            font-size: 1.4em;
            font-weight: normal;
            text-transform: uppercase;
            color: white;
            font-family: Georgia, "Times New Roman", Times, serif;
            display: block;
            width: 400px;
    } 

/* ******************************************************************* */
/* SEARCH BOX AT THE TOP RIGHT OF THE HEADER */
/* ******************************************************************* */

#search_box {
    position: absolute;
    top: 5px;
    right: 2em;
}
    #search_box p {
        text-align: left;
        font-size: 1.2em;
        color: #fff;
    }
    
    #search_box p label {
        padding: .4em;
    }
    #search_box p input {
        font-size: 1.2em;
        background: #fff;
        width: 7.5em;
        font-size:.9em;
        border: medium double #b7b7b7;
    }
    #search_box p label.invia {
        display: none;
    } 
    #search_box p input.invia  {
        background: transparent url(/images/critical_edition/invia.gif) center center no-repeat;
        width: 18px;
        border: 0;
        font-size: 1.2em;
        outline: none;
        text-indent: -9999px !important;
        margin-left: .4em;
        cursor: pointer;
    }
    /* Link to Advanced Search */
    #search_box a.advsrch {
        display: block;
        color: #fff;
        font-size: .9em;
        text-decoration: underline;
        line-height: 1.9em;
        text-align: right;
        padding-right: 28px;
    }
    
/* ******************************************************************* */
/* SWITCH BUTTON. LINKS TO SCHOLAR MODE */
/* ******************************************************************* */
#switch {
    position: absolute;
    right: 3em;
    bottom: 2em;
    z-index: 3;	
}

    #switch a {
        display: block;	
        outline: none;	
        text-indent: -9999px;
        cursor:pointer;
        font-size:2em;
        width: 140px;
        height: 30px;	
        background: url(/images/scholarmode.gif) ;
    }

/* ******************************************************************* */
/* NAVIGATION BAR */
/* HOLDS PATH AND TOOLS (PRINT, DOWNLOAD, PANORAMA ...) */
/* ******************************************************************* */
#navigate {
    background:#433934 url(/images/bg_first_line.gif) repeat-x top;
    width: 100%;
    height: 2.7em;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #FFF;
}
    /* Navigation path on the left */
    #navigate div.simple_mode_path_widget {
        position: absolute;
        top: 0; left: 0;
        padding: 0 10px;
        color: #fff;
        font-size: 1.15em;
        line-height: 2.6em;
        height: 2.6em;
    }

    #navigate div.simple_mode_path_widget a {
        color: #e0e0e0;
        text-decoration: underline;
        padding: 5px;
    }

    #navigate p {
        color: #e0e0e0;
        padding: 0 10px;
        color: #fff;
        font-size: 1.15em;
        line-height: 2.6em;
        float: left;
    }
    
    /* Powered by talia button */
    #navigate #talia_link {
        margin: 0px 10px;
        height: 2.6em;
        width: 112px;
        position: absolute;
        top: 0; right: 0;
    }
        #navigate #talia_link a {
            background: url(/images/poweredTalia.gif) center right no-repeat;
            text-indent: -9999px;
            display: block;
            height: 2.6em;
            width: 112px;
        }
        #navigate #talia_link a:hover {
            background: url(/images/poweredTalia_ro.gif) center right no-repeat;
        }
    /* Tools on the right */
    #navigate #tools {
        /* float: right; */
        margin: 0px 10px;
        height: 2.6em;

        position: absolute;
        top: 0; right: 122px;
    }

    /* EXPLORER FIX */
    #navigate #tools {
      width: 200px;
    }
    html>body #navigate #tools {
      width: auto;
    }
    /* EXPLORER FIX */

    #navigate #tools ul {
        float: right;
        list-style: none;
        padding: 0 2px 0 0;
        margin: 0;
        background: transparent url(../images/tool_side_line.gif) top right no-repeat;
        height: 2.6em;
    }
    #navigate #tools ul li {
        float: left;
        padding: 0;
        margin: 0;
        font-size: 1em;
        display: block;
        background: transparent url(../images/tool_side_line.gif) top left no-repeat;
        height: 2.6em;
    }
    #navigate #tools ul li span {
        display: block;
        float: left;
        height: 2.6em;
        margin: 0 0 0 2px;
        padding: 1px 0 0 10px;
        background: #554d49 url(../images/tool_bg.gif) top left repeat-x;
    }
    #navigate #tools ul li:hover span {
        background: #5d5552 url(../images/tool_bg_rollover.gif) top left repeat-x;
    }
    #navigate #tools ul li span a {
        display: block;
        float: left;
        line-height: 2.6em;
        height: 2.6em;
        text-decoration: none;
        padding: 0 20px 0 30px;
        margin: 0 2px;
        color: #e0e0e0;
    }
    #navigate #tools ul li span a:hover {
      text-decoration: underline;
        color: #e0e0e0;
    }

    /* CUSTOMIZE ICONS ! */
    #navigate #tools ul li#panorama span a{
    }
    #navigate #tools ul li#pagina span a{
    }
    #navigate #tools ul li#download span a{
        background: transparent url(../images/icons/download_white.gif) center left no-repeat;
    }
    #navigate #tools ul li#print span a{
        background: transparent url(../images/icons/print_white.gif) center left no-repeat;
    }
    #navigate #tools ul li#fullscreen span a{
        background: transparent url(../images/icons/fullscreen_white.gif) center left no-repeat;
    }
/* ******************************************************************* */
/* MENU LOCATION  - ORIZONTAL MENU UNDER PATH *******************************/
/* ******************************************************************* */    
#menulocation {
    background: #e9e9e9;
    width: 100%;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
}
    #menulocation p {
        color: #1c1817;
        padding: 10px;
        float: left;
    }
    #menulocation ul {
        list-style: none;
        float: left;
    }
        #menulocation ul li {
            float: left;
            padding: 10px ;
            padding-right: 25px;
            color: #6a615d;
            background-image: url(/images/bg_menucut.gif) ;
            background-repeat: no-repeat;
            background-position:  right center;
        }
        #menulocation ul li a {
            color: #1c1817;
            display: block;
        }
        #menulocation a:hover {
            color: #2d5971;
        }
        #menulocation ul li.selected {
            background-color: #f2f1f1;	
        }
        #menulocation ul li.selected  a{
            color: #6a615d;
        }

/* ******************************************************************* */
/* DESCRIPTION  - UNDER TAB MENU *******************************/
/* ******************************************************************* */
#description {
    float: left;
    background:#f2f1f1;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    margin:0;
    padding:0;
}
    #description p {
        float: left;
        font-size: 1.2em;
        padding: 10px 1%;
        line-height: 1.4em;
        color: #1c1817;
        width: 100%;
        voice-family: "\"}\""; 
        voice-family:inherit;
        width:98%;

    }

/* Standard size of the two elements */
/* ******************************************************************* */
/* Side Scroll item */
/* ******************************************************************* */
#scroll {
    float: left;
    width: 205px;
    /* display: auto; */
    margin: 0;
    padding: 0 5px;
    background: #f4f4f4;
   /*  border: 1px solid #e0e0e0; */
    border-right: 1px solid #e0e0e0;
    overflow: auto;
    text-align: left;
    /* setting height here... but later is changed with js */
    height: 550px;
    /* SOLUZIONE */
    position: relative;
    z-index: 100;
    /* SOLUZIONE */
}
#scroll div.simple_mode_panorama_widget {
  padding: 5px 0 100px 0;
}
#scroll div.critical_edition_menu_widget {
  padding: 0 0 50px 0;
}

/*  ******************************************/
/* CONTENT ***********************************/
/*  ******************************************/
#content {
  width: 100%;
  float: left;
  /* Fix for duplicate text in explorer */
  display: inline;
  /* text-align: center; */
  margin: 0; padding: 0;
}

#content.divided {
    float: right;
    /* Fix for duplicate text in explorer */
    display: inline;
    width: 100%;
    overflow: hidden;
    /* SOLUZIONE */
    z-index: -1;
    /* SOLUZIONE */
    margin-left: -229px;
  }

  div#visore {
    position: relative;
    overflow: auto;
    /* text-align: center; */
    padding:0;
    /* margin: 0 0 0 229px; */
    margin: 0 0 0 217px;

  }

/*  ******************************************/
/*  LIST OF MAIN ELEMENTS IN THE PAGE */
/*
*/
/*  ******************************************/
ul#access_list {
    margin: 15px 4%;
    padding: 0;
    list-style: none;
    text-align: left;
}
  
  ul#access_list li {
        padding: 2% 0;
        float: left;
        clear: both;
        display: inline;
        background: url(/images/dot_orizz.gif) repeat-x bottom;
        /* Box Model Hack */
        width: 100%;
        voice-family: "\"}\""; 
        voice-family:inherit;
        width:96%;
    }
        ul#access_list li h1 {
            color: #6a615d;
            font-size: 1.6em;
            margin-bottom: 5px;
        }
        ul#access_list li h1 a {
            color: #6a615d;
        }
        ul#access_list li h1 img {
            float: left;
            display: inline;
            padding-right: 30px;
        }
        ul#access_list li p{
          font-size: 1.2em;
        }
        ul#access_list li p.title{
            padding: 0 0 0 0;
            margin-left: 130px;
            display:block;
            float: none;
            font-weight: bold;
            font-size: 1.4em;
            line-height: 1.6em;
        }
        ul#access_list li p.text{
            padding: 5px 0 0 0;
            margin-left: 130px;
            display:block;
            float: none;	
            font-size: 1.2em;
            line-height: 1.6em;
        }
        ul#access_list li p.data{
            padding: 5px 0 0 0;
            margin-left: 130px;
            display:block;
            float: none;
            font-size: 1.1em;
            line-height: 1.6em;
        }
        ul#access_list li p.keys{
            padding: 10px 0 0 0;
            margin-left: 130px;
            display:block;
            float: none;	
            font-size: 1.1em;
            line-height: 1.6em;
            color: #808080;
        }
        ul#access_list li p.keys a{
            line-height: 1.6em;
            text-decoration: underline;
            color: #808080;
        }
 
    /* MINILIST */
    ul#access_list.minilist h1 {
        font-size: 1em;
        float: left;
        display: inline;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        color: #3c3c3c;
        padding: 0 15px;
    }

        ul#access_list.minilist h1 a {
            color: #3c3c3c;
        }
        ul#access_list.minilist p{
        }
        ul#access_list.minilist li h1 img {
            float: none;
            display: block;
            margin-bottom: 4px;
            padding-right: 0;
            border:1px solid #808080;
        }

/* ********************************* */
/* Blocks that conains the pages in the panorama view */
/* When displayed as full page or in the side scroll */
/* ********************************* */

/* Let''s assume images will be displayed at maximum size 80 x 120 pixels */

#block_container {
        margin: 15px 5%;
        float: left;
        display: inline;
        width: 90%;
        text-align: left;
    }
    #block_container div.block, #scroll div.view_block  {
        width: 170px;
        height: 140px;
        float: left;
        display: inline;
        padding: 5px 0 2px 5px;
        border: 1px solid #e0e0e0;
        background-color: #f3f3f3;
    }
    
    #block_container div.block {
      margin: 0 10px 10px 0;
    }
    #scroll div.view_block  {
      margin: 0 10px 3px 0;
    }
    #view div.view_block p img {
        /* margin-bottom: 5px; */
    }
    #block_container div.block p, #scroll div.view_block p {
          margin:0 5px 0 0 !important; padding: 0 !important;
          text-align: center;
          color: #848484;
           float: left;
        width: 80px;
        display: inline;
        font-size: 0.9em;
    }
    
    /* Span wrapping sigla */
    #block_container div.block p span, #scroll div.view_block p span {
        width: 80px;
        float: left;
    }
    
    #block_container div.block p.lonely, #scroll div.view_block p.lonely {
        margin:0 0 0 85px !important; padding: 0 !important;
        text-align: center;
        color: #848484;
        font-size: 0.9em;
    }
    #block_container div.block p.lonely img, #scroll div.view_block p.lonely img  {
       width: 80px; height: 120px;
        margin:0 auto;
    }
    #block_container div.block p img, #scroll div.view_block p img  {
       /* width: 80px; height: 120px; */
        margin:0 auto;
        border: none;
        /* margin: 10px 4px 5px 4px; */
    }
    #block_container div.block p a, #scroll div.view_block p a{
      text-align: center;
      color: #848484;
    }
    #block_container div.block p a img, #scroll div.view_block p a img, #block_container div.block p a:hover img, #scroll div.view_block p a:hover img{
      border: none;
    }
    
    /* FACING PAGES */
    div#scroll div.simple_mode_panorama_widget div.facing_pages {
        width: 170px;
        /* height: 140px; */
        float: left;
        text-align: center;
        margin: 0 10px 10px 0;
        display: inline;
    }
    div#scroll div.simple_mode_panorama_widget div.facing_pages a{
        display: block;
        width: 170px;
        border: 1px solid #e0e0e0;
        background-color: #f3f3f3;
        padding: 2px 0 2px 5px;
        color: #848484;
    }
    div#scroll div.simple_mode_panorama_widget div.facing_pages a:hover{
        text-decoration: none;
        display: block;
        width: 170px;
        border: 1px solid #b8b8b8;
        background-color: #f3f3f3;
    }
/* ********************************* */
/* ********************************* */



/*  ******************************************/
/* FACSIMILE: IIP IMAGE VIEW ***********************************/
/*
    Single and double
*/
/*  ******************************************/
/* Freccia sinistra */
#content.divided div#visore p.previous{
    display: block;
    position: absolute;
    width: 19px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ebebeb;
    border-right: 1px solid #e0e0e0;
}
    #content.divided div#visore p.previous a{
        display: block;
        width: 19px;
        height: 100%;
        text-indent: -9999px;
        background: url(../images/facsimile_edition/previous_arrow.gif) center center no-repeat;
    }
    #content.divided div#visore p.previous a:hover{
        background: url(../images/facsimile_edition/previous_arrow_ro.gif) center center no-repeat;
    }
/* Freccia destra */
#content.divided div#visore p.next{
    display: block;
    position: absolute;
    width: 19px;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ebebeb;
    border-left: 1px solid #e0e0e0;
}
    #content.divided div#visore p.next a{
        display: block;
        width: 19px;
        height: 100%;
        text-indent: -9999px;
        background: url(../images/facsimile_edition/next_arrow.gif) center center no-repeat;
    }
    #content.divided div#visore p.next a:hover{
        background: url(../images/facsimile_edition/next_arrow_ro.gif) center center no-repeat;
    }


/* Vista immagine singola */
#content.divided div#visore div#image_big{
    text-align: center;
    padding: 0;
}

/* Vista immagine doppia */
#content.divided div#visore div#image_half{
    text-align: center;
}

#content.divided div#visore div p.sigla {
    margin: 4px 0;
    font-size: 1.4em;
    color: #757575;
    font-weight: bold;
    text-align: center;
}

/* Single */
div.iipfview , div.iipfview_left, div.iipfview_right{
    /* padding: 10ex; */
    margin: 0;
    /*
    border: 1px solid #e0e0e0;
    padding: 2px;
    */
    height: 100%;
}

/* Facsimile Copyright */
#content.divided div#visore p.facsimile_copyright {
    position: absolute;
    display: block;
    bottom: 0;
    margin: 4px 0;
    font-size: 1.2em;
    text-align: center;
}

/* ********************************* */

.small {
  font-size: .4em;
}

.grey {
  color: #ccc;
}

.italic {
  font-style: italic;
}



/* ******************************************************************* */
/* FOOTER */
/* ******************************************************************* */
#footer{
	width: 100%;
	margin: 0;
	background-color: #cfccc7;
    border-top: 1px solid #ada9a6;
    padding: 10px 0 10px 0;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
}
#footer a{
	text-decoration: none;
    color: #71645c;
}
#footer a:hover{
	text-decoration: underline;
}
#footer #footer_first_line {
    padding:0 20px;
    display: block;
    clear: both;
    float: none;
    margin-bottom: 10px;
    height: 25px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #ada9a6;
}
    #footer #footer_first_line span.left{
        display: block;
        height: 25px;
        line-height: 25px;
        text-align: left;
        float: left;
    }
    #footer #footer_first_line span.right{
        display: block;
        text-align: right;
        float: right;
        text-indent: -9999px;
    }
        #footer #footer_first_line span.right a#footer_europe{
            margin: 0; padding: 0;
            width: 36px;
            display: block;
            height: 25px;
            background: #cfccc7 url(/images/start_page/footer_europe.gif) bottom left no-repeat;
            text-indent: -9999px;
            border: 0;
            text-decoration: none;
            overflow: hidden;
        }

#footer #footer_second_line {
    padding:0 20px;
    display: block;
    clear: both;
    float: none;
    height: 25px;
    overflow: hidden;
    margin-bottom: 00px;
}
    #footer #footer_second_line span.left{
        display: block;
        text-align: left;
        float: left;
        height: 25px;
        line-height: 25px;
    }
    #footer #footer_second_line span.right{
        display: block;
        text-align: right;
        float: right;
        height: 25px;
        padding: 0;
        margin: 6px 0;
        display: block;
    }
        #footer #footer_second_line span.right a#footer_talia{
            width: 114px;
            height: 25px;
            display: block;
            background: #cfccc7 url(/images/start_page/footer_talia_logo.gif) top left no-repeat;
            text-indent: -9999px;
            border: 0;
            text-decoration: none;
        }



