@charset "ISO-8859-1";

/** CSS for "plain pages" - category, keyword and series listings, etc */

body {
    background:#fff url(/images/categories/bg_head.gif) repeat-x  top /*sfondo di testata */ /*sfondo di testata */;
}

#header {
    background: url(/images/categories/bg_mainhead.jpg) no-repeat left top /*grafica di testata */;
}

/*
Fight with content in main.css
div#visore {
    text-align: left;
}
*/

/* search_box */
/*
Fight with content in main.css
#search_box {
    position: absolute;
    top: 2.5em;
    right: 2em;
}

#search_box p {
    text-align: left;
    font-size: 1.2em;
    color: #fff;
}

#search_box p label {
    padding: .4em;
}
*/

#scroll div.view_block {
    width: 210px;
    margin:0 5px;
    padding-bottom: 5px;
    background: url(/images/dot_orizz.gif) repeat-x 0 bottom}
/*#block_container div.block p, #scroll div.view_block p  {
margin: 10px 4px 5px 4px;
float: left;
width: 186px;
display: inline;	
text-align: left;
}
#scroll div.view_block p {
width: 192px;
}*/

#scroll div.view_block h3 {
    margin-top: 4px;
    padding: 3px;
}
#scroll div.view_block p.descript {
    font-size: 1.2em;
}
#scroll div.view_block p.img {
    padding:0 ;
    float: left;
    width: 100px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 20px;
}
#scroll div.view_block p.img a {
    float: left;
    display: block;
    margin-bottom: 4px;
    border: 1px solid #808080;
}
#scroll div.view_block p.img a:hover, #scroll div.view_block p.img a.selected {
    border: 1px solid #c00;
}
/*#block_container div.block p.lonely, #scroll div.view_block p.lonely {
width:176px;
margin-left: 0;
margin-right: 0;}*/
#block_container div.block p.lonely, #scroll div.view_block p.lonely {
    /*	text-align: right;
    */	
}
#block_container div.block p.img img, #scroll div.view_block p.img img {
    float: left;
}


/*
#content.divided {
    float: right;
    margin-left: -242px;
    width: 100%;
}
*/







p.text_long {
    padding: 1em 10px;
    font-size: 1.2em;
    line-height: 1.5em;
}