/* CSS Document */

/* **************************************** */
/* FORMATTAZIONE DEL MENU */
/* **************************************** */
/* maschera della navigazione */
div#pod-list-wrap-mask{
    position:absolute;
    /* overflow:hidden; */ /* DA IMPORRE CON JAVASCRIPT */
    width: 200px;
}
div#pod-list-wrap-ext{
    position:absolute;
    height: 400px;
    width: 200px;
    left:-200px;
}
div#pod-list-wrap
{
    position:absolute;
    width: 200px;
    left:0;
}

/* **************************************** */
/* ELEMENTI LISTA */
/* **************************************** */
div#pod-list-wrap ul
{
    list-style:none;
    top:0;
    padding:0;
    margin:0;
    position: absolute;
    width: 200px;
    list-style-position:inside;
    left: 200px;
    /* border-top:1px solid #D9D9D9; */
}
div#pod-list-wrap ul ul
{
    margin:0;
    top:-1px;
}

div#pod-list-wrap ul li
{
    display:inline;
    margin:0;
    width: 200px;
    background:#F2F2F2 url(/images/pod_style_navigation/ipod_button_bg.gif) bottom left repeat-x;
}

div#pod-list-wrap ul li a.ipodStyle{
    font-size:12px;
    padding:10px 30px 10px 10px;
    display:block;
    width: 160px;
    cursor:pointer;
    border-bottom:1px solid #CDCDCD;
    border-top:1px solid #FFF;
    color: #4e4e4e;
    background:#F2F2F2 url(/images/pod_style_navigation/ipod_button_bg_new.gif) center left repeat-x;
}

div#pod-list-wrap ul li a:hover.ipodStyle{
    color:#990000;
    background:#F2F2F2 url(/images/pod_style_navigation/ipod_button_bg_new_ro.gif) center left repeat-x;
    text-decoration: none;
}

div#pod-list-wrap ul li a.ipodStyle span.corsivo{
    font-style:italic;
    color:#999999;
    font-variant:small-caps;
}


/* back link interni */
div#pod-list-wrap ul li.ipod_navigation_back_link{
}

div#pod-list-wrap ul li.ipod_navigation_back_link a{
    font-size:12px;
    display:block;
    width:160px;
    padding: 10px 10px 10px 30px;
    background-color: #FFFFFF;
    background-image:url(/images/pod_style_navigation/ipod_arrow_back.gif);
    background-repeat:no-repeat;
    background-position:10px center;
    text-decoration:none;
    color: #333333;
    font-weight: bold;
    border-bottom:1px solid #CDCDCD;
}

div#pod-list-wrap ul li.ipod_navigation_back_link a:hover{
    color: #990000;
    background-color: #FFFFFF;
    background-image:url(/images/pod_style_navigation/ipod_arrow_back_ro.gif);
    background-repeat:no-repeat;
    background-position:10px center;
}
/* **************************************** */

/* **************************************** */
/* FRECCE SCROLL SU-GIU */
/* **************************************** */
div#ipod_scroll_up_button{ /* DA IMPORRE CON JAVASCRIPT */
    width:200px;
    height: 22px;
    background-image:url(/images/pod_style_navigation/scroll_top_button.gif);
    background-repeat:no-repeat;
    background-position:center center;
    border-bottom:1px solid #D9D9D9;
    display:none;
}

div#ipod_scroll_up_button a{
    display: block;
    position: absolute;
    width:200px;
    height: 22px;
    margin:0;
    padding: 0;
    text-indent: -999px;
}

div#ipod_scroll_down_button{ /* DA IMPORRE CON JAVASCRIPT */
    width:200px;
    height: 22px;
    background-image:url(/images/pod_style_navigation/scroll_bottom_button.gif);
    background-repeat:no-repeat;
    background-position:center center;
    display:none;
}
div#ipod_scroll_down_button a{
    display: block;
    width:200px;
    height: 22px;
    margin:0;
    padding: 0;
    text-indent: -999px;
    border-top:1px solid #D9D9D9;
}

/* **************************************** */
/* ELEMENTI INTERNI ADDETTI ALLO SCROLL */
/* **************************************** */
div.ipod_internal_backlinks{
    position: absolute;
    z-index: 100;
    display: inline;
}
div.ipod_internal_backlinks li{
    display: inline;
}
div.ipod_internal_backlinks li a{
    background-color: gold;
    display: inline;
}
div.ipod_internal_scroll{
    display: block;
    left: 0px;
    top: 0px;
    /* position: relative; */
}
div.ipod_internal_scroll li{
    display: inline;
}
div.ipod_internal_scroll li a{
    display: inline;    
}

/* **************************************** */
/* DOVE SONO? */
/* **************************************** */
li.ipod_navigation_where_i_am{
    display:inline;
    margin:0;
    width: 200px;
}

li.ipod_navigation_where_i_am b{
    font-size:12px;
    padding:10px 30px 10px 10px;
    display:block;
    width: 160px;
    cursor:pointer;
    border-bottom:1px solid #CDCDCD;
    border-top:1px solid #FFF;
    color: #FFF;
    /* font-variant: small-caps; */
    background:#F2F2F2 url(/images/pod_style_navigation/ipod_button_bg_highlight.gif) center left repeat-x;
}



