h1.accordion_toggle {
    display: block;
    /* height: 30px; */
    padding: 0 10px 0 40px;
    line-height: 30px;
    color: #4e4e4e;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    border: 1px solid #c3c2c2;
    background-color: #e5e5e5;
    cursor: pointer;
    margin: 0 0 5px 0;
}

h1.accordion_toggle.expand, h1.accordion_toggle{
    background: #e5e5e5 url(/images/sources_listing/source_expand_icon.gif) center left no-repeat !important;
}

h1.accordion_toggle.compress, h1.accordion_toggle.open{
    background: #e5e5e5 url(/images/sources_listing/source_compress_icon.gif) center left no-repeat !important;
}

.accordion_toggle_active {
    background: url(images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

div#contents_int div.accordion_content {
    background-color: #ffffff;
    color: #444444;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

div.single_source_element{
    border: 1px solid #e5e5e5;  
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
    background: #f4f4f4;
}   

div#contents_int div.single_source_element h2{
    border:0;
    margin:0 0 0 0;
    padding: 0 0 0 10px;
    line-height: 30px;
    font-weight: bold;
    font-size: 13px;
    background-color: #FFF;
    border-bottom: 1px solid #e5e5e5;
}

div#contents_int div.single_source_element h2 a{
}

div#contents_int div.single_source_element h2.source_primary_title a{
    color: #8c6239;
    padding: 0 0 0 15px;    
    background: transparent url(/images/sources_listing/source_primary_icon.gif) center left no-repeat;
}

div#contents_int div.single_source_element h2.source_contribution_title a{
    color: #0c628d;
    padding: 0 0 0 15px;
    background: transparent url(/images/sources_listing/source_contribution_icon.gif) center left no-repeat;   
}

div#contents_int div.single_source_element p.source_data{
    padding: 5px 10px 0 10px;
}

div#contents_int div.single_source_element p.source_data span{
    color: gray;
    font-style: italic;
}

div#contents_int div.single_source_element h3.source_more{
    color: #660000;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 5px 10px;
    padding: 0 0 0 15px;
    cursor: pointer;
}
div#contents_int div.single_source_element h3.source_more.expand{
    background: transparent url(/images/sources_listing/source_more_info_icon.gif) center left no-repeat;
}
div#contents_int div.single_source_element h3.source_more.compress{
    background: transparent url(/images/sources_listing/source_less_info_icon.gif) center left no-repeat;
}


div#contents_int div.single_source_element p.source_more_data{
    display: block;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    margin: 0;
}


/* pulsantino more */
div.list_more{
    border: 1px solid #e5e5e5;  
    padding: 8px;
    margin: 0 0 5px 0;
    background: #f4f4f4;
    font-size: 0.9em;
}

/* paginatore */
div#source_list-types_list{
    
}

    div#source_list-types_list div{
    }    

    div#source_list-types_list div div.pagination{
        border: 1px solid #e5e5e5;  
        padding: 8px;
        margin: 0 0 5px 0;
        background: #f4f4f4;
        font-size: 0.9em;
    }
