
/*testo base dell'edizione

.edition-text  { font-family: Verdana,Arial,Helvetica; font-size:14pt; text-align: justify; line-height: 23pt;  }

.num { text-align:center }
.head { display:inline }
.sep { text-align:center }
p { text-indent:20px; font-family:Verdana,Arial,Helvetica; font-size:12pt; line-height:20pt; }
.pb { color:red; }
.sp { letter-spacing:3pt; }
.u { text-decoration:underline }
.it { font-style:italic }
.mark {}
.note {}
.fnumber { vertical-align:6pt;font-size:9pt; color:crimson }
.fnumber_fn {  color:crimson }
.corr { background-color:#80FF80 }
.sic {  } 
.footnote { font-family:Verdana, Arial,Helevtica; font-size:11pt; line-height:16pt; }
.variant { color:#a0522d }
.variant_kgw { color:goldenrod; }
.type { font-style:italic }
.notype { color:goldenrod; }
.rem { font-style:italic }
.gs  { font-size:11pt; font-family: "Times New Roman", Georgia;  }
.gr {font-family:Athenian,"Super Greek"; }
.print { background-color:beige; font-size:10pt; font-family:Verdana, Arial; color:black; }
.black {color:black}
.blue {color:darkblue}
.sepia  { color: #a0522d }

.purple { color:blueviolet }
.red { color:red}
.pencil  { color:gray }

.redpen {color:crimson}
.bluepen {color:cornflowerblue}
.N {background-color:white;}
.G {background-color:gainsboro; }
.X {background-color:darkgray; }


.enote {}
.app { margin-top:6pt; font-family:Verdana }  

a:visited { color:black }
.notype a:link { color:goldenrod; }
.notype a:visited { color:goldenrod }
.fnumber a:link { color:crimson; text-decoration:none; } 
.fnumber a:visited { color:crimson; text-decoration:none; } 
.fnumber_fn a:link { color:crimson; text-decoration:none;  }
.fnumber_fn a:visited { color:crimson; text-decoratione:none; }

*/


/* TEI styles */
div.text  { font-family: Verdana, Helvetica,Arial, Sans-serif; font-size:medium; text-align: justify; line-height: 150%  }
div.edition-text  { font-family: Verdana,Arial,Helvetica, Sans-serif; font-size:medium; text-align: justify; line-height: 150%  }
h2 { font-size: large; }

span.bold { font-weight: bold;}
span.sp_bold { font-weight: bold; letter-spacing:3pt}
span.emph { font-style: italic; }
ul li { list-style-type: none}


