/*
    This is the global stylesheet file for the widgeon plugin. These styles 
    are use by all widgets, and should be included in the standard ruby 
    fashion.
*/

.widget_backlink input {
    display: inline;
    border-style: solid;
    border-color: white;
    border-width: 0px;
    border-bottom-width: thin;
    background-color: white;
    color: #355A8E;
}

.widget_backlink input:hover {
    color: #0033ff;
    border-color: #0033ff;
}

.widget_backlink form {
    display: inline;
}

.widget_backlink {
    display: inline;
}

