<div class="hidden">
  <ul>
    <li><a href="#menu" title="Go straight to the navigation">Main navigation</a></li>
    <li><a href="#contenutoSinistra" title="Go straight to the main content">Main content</a></li>
  </ul>
</div>
<!-- End of main header area -->

<div id="ext_page"> <!-- ext_page: elemento esterno a tutto -->
  <div id="int_page"> <!-- int_page: elemento esterno a tutto, interno solo a ext_page -->
    
    <!-- header: contains title of the project - upper part -->
    <div id="header">
      <h1><%= h(yield(:title) || "Talia | The Digital Library") %></h1>
      <p class="header_subtitle"><%= page_subtitle %></p>
    </div>
    <!-- header end -->
  
    <!-- contents: main part of the page - divided into external and internal -->
    <div id="contents_ext" class="open">
      <div id="contents_int">
        <p id="contents_loader" style="display: none" class="side_bar_loader">Caricamento in corso</p>
        <!-- Dummy toolbar call. This uses arrays instead of hashes, so that the button order is preserved. -->
        <!-- %= toolbar % -->
        <%= login_box %>
        <%= show_flash %>
