<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="frontpage.css" media="screen" />
	<title>Frontespizio</title>

<style>
div.frontpage {
	margin: 0 auto;
	text-align: center;
	width: 400px;
	background-color: #FFF;
	padding: 95px 30px 70px 30px;
	border: 1px solid #e0e0e0;
}

	div.frontpage p.author{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 18px;
		color: #6c5449;
		font-weight: normal;
	}

	div.frontpage h2.title{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 24px;
		color: #000;
		font-weight: normal;
	}

	div.frontpage p.description{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 13px;
		color: #666666;
		font-weight: normal;
		margin-bottom: 100px;
	}

	div.frontpage p.logo{
		display: block;
		width: 198px;
		height: 52px;
		background: url(logo.gif) center center no-repeat;
		text-indent: -9999px;
		margin: 0 auto;
		padding: 0;
	}

	div.frontpage p.link{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 14px;
		color: #6b5349;
		font-weight: normal;
		margin: 0; padding: 0;
	}

	div.frontpage p.year{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 14px;
		color: #666666;
		font-weight: normal;
		margin: 0; padding: 0;
	}

</style>

</head>

<body>



<!-- Front page starts here -->
<div class="frontpage">
	<p class="author">
		<%= t("talia.edition.#{@edition.title}.frontpage author") %>
	</p>
	<h2 class="title">
		<%= t("talia.edition.#{@edition.title}.frontpage title") %>
	</h2>
	<p class="description">

		<%= t("talia.edition.#{@edition.title}.frontpage description") %>
	</p>
	<%#*<p class="logo">%>
		<%#*Nietzsche Source%>
	<%#*</p>%>
	<p class="link">
		<%= TaliaCore::CONFIG['local_uri'].chop %>
	</p>
	<p class="year">
		2009
	</p>

</div>
<!-- Front page ends here -->

</body>
</html>
