<!-- header: contains title of the project - upper part -->
<div id="header">
  <div id="title_bar">
    <h1><a href="#" title=""><%= page_title %></a></h1>
    <p class="header_subtitle"><%= page_subtitle %></p>
  </div>
  <div id="top_bar">
    <div id="top_bar_search">
      <form id="searchform" method="get" action="">
        <p>
          <input type="text" name="s" id="s" size="20" />
          <button type="submit" name="searchbutton" id="searchbutton" value="Go">go</button>
        </p>
      </form>
    </div>
    <div id="top_bar_login">
      <p><a class="login_icon" href="#" title="Login">Login</a></p>
      <div id="login_baloon">
        <form method="post" action="">
          <label>Log In</label>
          <input name="label" id="label" type="text" />
          <label>Password</label>
          <input name="password" id="password" type="text" />
          <input id="login" type="submit" value="Entra">
          <br>Dimaneticato la <a href="#">password</a>?
        </form>
      </div>
    </div>
  </div>
      
</div>
<!-- header end -->
