<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
  <%= javascript_include_tag 'prototype'%>
  <%= javascript_include_tag 'lowpro' %>
  <%= javascript_include_tag 'js'  %>
  <%= yield :javascript -%>
  
  <%= stylesheet_link_tag "main" %>
  <%= widget_stylesheet('toolbar') %>
  <%= yield :stylesheet %>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="keywords" content="parole chiave" />
  <meta name="description" content="Descrizione progettto." />
  <meta name="copyright" content="Discovery" />
  <meta name="robots" content="all" />
  <meta http-equiv="pragma" content="no-cache" />
  
  <title><%= page_title %></title>
</head>


<body id="page" class="open">

<div class="hidden">
  <ul>
    <li><a href="#menu" title="Go straight to the navigation">Main navigation</a></li>
    <li><a href="#contenutoSinistra" title="Go straight to the main content">Main content</a></li>
  </ul>
</div>

<!-- End of main header area -->