<% if(@globalize) %>
<%= javascript_include_tag 'shadowbox/shadowbox' %>
<%= stylesheet_link_tag 'shadowbox'%>
<script language="javascript">
<!--

Shadowbox.init({
	language: 'en',
	skipSetup: true,
	players: ['html'],
	modal:      true,
	displayCounter: false,
	enableKeys: false
})

function translate_shadow(key) {
	var script = 'script' // Little hack, otherwise it will break the HTML if included inline
	loader = "new Ajax.Updater('sb-content', '/translations/edit/" + key +"', { method: 'get' });"
	// Shadowbox options set up
	var shadowboxOptions = {
		player:     'html',
		title:      'Translate ' + key,
		// The included javascript will kick off the loading once the box is complete
		content:    '<' + script + ' type="text/javascript">' + loader + '</' + script + '><div class="box_loader">Loading...</div>',
		height:     600,
		width:      600
	};
	// Open the shadowbox
	Shadowbox.open(shadowboxOptions);
}
-->
</script>
<% end %>
