<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="parole chiave" />
<meta name="description" content="Descrizione" />
<meta name="copyright" content="Copyright" />
<meta name="robots" content="all" />
<meta http-equiv="pragma" content="no-cache" />

<%= stylesheet_link_tag 'nietzsche' %>
<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

<title>Page title</title>
</head>

<body>

<div class="nascosto">
	<ul>
		<li><a href="#menu" title="Salta al menu principale">Menu principale</a></li>
		<li><a href="#contenutoSinistra" title="Salta al contenuto">Contenuto principale</a></li>
		<li><a href="#newsDestra" title="Salta alla sezione news">Sezione news</a></li>
  </ul>
</div>

<blockquote>&nbsp;</blockquote>
<div id="paginaExt">
	<div id="paginaInt">
		
        <div id="top_menu">
            <ul>
              <li><a href="http://www.google.it" title="About the project">About the project</a>&nbsp;|&nbsp;</li>
              <li><a href="http://www.google.it" title="Committee of Scholars" >Committee of Scholars</a>&nbsp;|&nbsp;</li>
              <li><a href="http://www.google.it" title="Developers Team">Developers Team</a></li>
            </ul>
        </div>
        
        <div id="testata">
			<h1>Titolo progetto</h1>
			<p class="testata_sottotitolo">Source, Ver.1.0</p>
		</div>
		
		<div id="menu">
             <ul>  <li><a href="http://www.google.it" title="Deutsch, AccessKey: 1" accesskey="1">Deutsch</a></li>
              <li><a href="http://www.google.it" title="English, AccessKey: 2" accesskey="2">English</a></li>
              <li><a href="http://www.google.it" title="Fran&ccedil;ais, AccessKey: 3" accesskey="3">Fran&ccedil;ais</a></li>
              <li><a href="http://www.google.it" title="Italiano, AccessKey: 4" accesskey="4">Italiano</a></li>
            </ul>
        </div>
		
		<div id="contenuti">
			<!-- <div id="contenutoTesta">
				<h1>Titolo contenuto sezione centrale</h1>
				<p>Duis aute irure dolor in reprehenderit 
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Duis aute irure dolor in reprehenderit 
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
                Duis aute irure dolor in reprehenderit 
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div> -->
		
			<div class="floatClear"></div>
			
			<div id="contenutoDoppio_ext">
                <div id="contenutoDoppio_int"> <div id="contenutoSinistra">
                        <h2>Semplice</h2>
                         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam sunt in culpa qui officia deserunt mollit anim id est laborum.                        </p>
                         <ul>
                            <li id="diorio"><a href="http://www.google.it" title="Critical Edition Colli / Montinari">Critical Edition Colli / Montinari</a></li>
                            <li id="collimontinari"><a href="http://www.google.it" title="Facsimile Edition D'Iorio">Facsimile Edition D'Iorio</a></li>
                        </ul>
                    </div>
                    
                    <div id="contenutoDestra">
                        <h2>Erudito</h2>
                        <p><strong>Testo descrittivo... </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                        </p>
                        <ul>
                            <li ><a href="http://www.google.it" title="scholar mode">Enter in Scholar mode</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="floatClear"></div>
			
			<!-- <div id="contenutoDoppio_singolo">
                 <h2>Titolo contenuto sezione destra</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        
                        <ul>
                            <li><a href="http://www.google.it" title="#">Edizione critica Colli Montinari</a></li>
                            <li><a href="http://www.google.it" title="#">Edizione fac-simile D'Iorio</a></li>
                            <li><a href="http://www.google.it" title="#">Studi e recensioni</a></li>
                            <li><a href="http://www.google.it" title="#">Edizione critica</a></li>
                        </ul>
                    
                
            </div> -->
			
			<div class="floatClear"></div>
		</div>
		
		<div id="piede">
			<p><a href="#" title="Contact">Contact </a><!-- <span>Nome</span> Indirizzo e contatti, Certificazioni varie, <a href="http://www.google.it" title="#">email</a> --> </p>
		</div>
	</div>
</div>


</body>
</html>
