<% 
# The actual HTML code for the page resides in the _home_template.html.erb file 
# This page serves as a customization point for the homepage to adapt
# it to the needs of different users
%>

<%
# Defines the links on top of the homepage
@title_links = [
  ["About the Project", "http://www.about.com/"],
  ["Comittee of Scholars", "http://www.scholars.com"],
  ["Development Team", "http://www.team.com/"]
]
# Defines the languages that can be selected
@languages = [
  ['Deutsch', 'de-DE'],
  ['English', 'en-US'],
  ['Fran&ccedil;ais', 'fr-FR'],
  ['Italiano', 'it-IT']
]
# The link that goes on the footer of the page
@footer_link = ['Contacts', 'http://www.people.com/']

%>

<% content_for :left_box do %>
  <!-- Left content box -->
  <h2><%= "Simple Mode".t %> </h2>
  <p><%= "Simple Mode Home Description".t %></p>
  <ul>
    <%= av_category_links %>
  </ul>
  <!-- End left content box -->
<% end  %>

<% content_for :right_box do %>
      <!-- right content box -->
  <h2><%= "Sophiavision".t %> </h2>
  <p>Sophiavision does not have a full mode</p>
  <!-- End right content box -->
<% end %>