<h3>Fictional Character: <%= source_link(taliadom_FictionalPerson.foaf::name.join(', '), taliadom_FictionalPerson) %></h3>
<p>
    <%= taliadom_FictionalPerson.dcns::description.join('</p><p>') %>
</p>
