<%#= w.out %>

<h1>List of works </h1>

	<ul class="toplevel book">
    	<li><a href="#">Die Geburt der Trag&ouml;die</a></li>
    	<li><a href="#">Menschliches, Allzumenschliches</a></li>

    	<li><a href="#">Morgenr&ouml;the</a>
        	<ul class="secondlevel pages">
        		<li><a href="#">Cap. I</a></li>
        		<li><a href="#">Cap. II</a>
                	<ul class="thirdlevel page">
                		<li><a href="#">Aph. 1</a></li>

                		<li><a href="#">Aph. 2</a></li>
                		<li><a href="#">Aph. 3</a></li>
	                	</ul>
                </li>
        
        	</ul>
        </li>
    	<li><a href="#">Idyllen aus Messina</a></li>

    </ul>



