<!-- toolbar widget -->
<div id="toolbar_mask">
  <div id="toolbar">
    <ul>
      <% @widget.each_button do |name, url|%>
        <li><a href="<%=url%>"><%=name%></a></li>
      <% end%>
      
      <li><a href="javascript:print();">Tollbar added item 1</a></li>
      <li><a href="javascript:print();">Tollbar added item two</a></li>
      <li><a href="javascript:print();">Tollbar added item number 3</a></li>
    </ul>
  </div>
</div>
<!-- chiude mask -->

<div id="scroll_back">
  <a href="#" onclick="toolbar_scroll_prev();" id="prev">
    previous
  </a>
</div>

<div id="scroll_forward">
  <a href="#" onclick="toolbar_scroll_next();" id="next">
    next
  </a>
</div>