# AssetsPackager
#
# List all the files you want to be included in all.js and all.css
# Make sure of include javascript frameworks first.
#
# For a detailed explanation:
#   - http://lucaguidi.com/pages/assets_packager
#   - http://github.com/jodosha/assets_packager
--- 
css: 
- main
- home
- backend
- advanced_search
- auto_complete
- click_to_globalize
- plain_shared
- widgeon
- shadowbox
js:
- prototype
- lowpro
- effects
- dragdrop
- controls
- builder
- edit_sources
- editions/av
- editions/critical
- editions/facsimile
- force_identify
- handleSearchField
- iip_flashclient
- scriptaculous
- session
- shadowbox/adapters/shadowbox-prototype
- shadowbox/shadowbox
- shadowbox
- slider
- sound
- sources
- swfobject
- translations
- unittest