# AssetsPackager
#
# List all the files you want to be included in all.js and all.css
# Make sure of include javascript frameworks first.
#
# For a detailed explanation:
#   - http://lucaguidi.com/pages/assets_packager
#   - http://github.com/jodosha/assets_packager
--- 
css: 
- main
- home
- backend
- advanced_search
- auto_complete
- click_to_globalize
- plain_shared
- widgeon
js:
- prototype
- scriptaculous
- controls
- lowpro
- force_identify
- application
- click_to_globalize
- backend
