<% @progress_job = TaliaCore::BackgroundJobs::ProgressJob.find(:first, :conditions => { :job_id => @job.id }) %>
<%= periodically_call_remote(:url => { :action => 'update_progress', :id => @job.id }, :frequency => '3', :update => 'back_progress') %>

<div class="background_box" id="back_progress">
<%= render :partial => 'progress' %>
</div>

<div class="background_box">

<div class="background_item"><b>Process ID:</b> <%= @job.pid %></div>
</div>