<div class="backlink"><%= job_link %></div>
<h2>Runtime Environment Variables:</h2>
<table>
	<tr>
		<th>Variable</th><th>Value</th>
	</tr>
	<% @environment.each do |k,v| %>
	<tr style="background-color: <%= cycle('#E0E0E0', '#FFFFFF') %>;">
		<td><%= k %></td><td><%= v %></td>
	</tr>
	<% end %>
</table>