@charset "ISO-8859-1";

body {
    background:#fff url(/images/editions/#EDITION_NAME#_bg_head.gif) repeat-x  top /*sfondo di testata */; 
}

#header {
    background: url(/images/editions/#EDITION_NAME#_bg_mainhead.jpg) no-repeat left top /*grafica di testata */;
    
}

.header_link_to_home {
    display: block;
    width: 345px;
    height: 93px;
}