@charset "ISO-8859-1";

body {
    background:#fff url(/images/editions/#EDITION_NAME#_bg_head.gif) repeat-x  top /*sfondo di testata */; 
}

#header {
    height: 150px;
    width: 100%;
    position: relative;	
    background: url(/images/editions/#EDITION_NAME#_bg_mainhead.jpg) no-repeat left top /*grafica di testata */;
    
}

div#paginaInt div#contenuti ul li##EDITION_NAME#_li a {
    background: url(/images/editions/#EDITION_NAME#_button.gif) left center no-repeat;
}