<%#
# This is the template to render just the "current" list of navigation items,
# using the current navigation level.
# The down and up links have their own subtemplates
%>

<ul id="ipod_nav_level_<%= current_level %>">
  <%= w.navigation_up_links %>
  
  <li class="ipod_navigation_where_i_am" id="current_nav_item">
    <b><%= w.navigation_title %></b>
  </li>
  
  <%= w.navigation_down_links(current_level) %>
</ul>
