<!-- side bar: contains all navigation tools - can be closed or opened -->
<div id="side_bar" class="merda">
  <!--
  <ul id="top_menu">
    <% for tab in w.top_tabs %>
      <li><%= tab.tab_link %></li>
    <% end %>
  </ul>
  
  <ul id="bottom_menu">
    <% for tab in w.bottom_tabs %>
      <li><%= tab.tab_link %></li>
    <% end %>
  </ul>
  
  <div id="side_bar_content">
    
    <h1><%= w.title %></h1>

    <p id="open_close_button"><a   id="side_bar_button" >Chiudi</a></p>
    <p id="side_bar_loader" style="display: none" class="side_bar_loader">Caricamento in corso</p>
    <p>
      <%= widget(w.tab_widget, w.active_tab_options) %>
    </p>
  </div>
  -->
</div>
<!-- side bar end -->
