          <div id="result_description"></div>
          
          <div class="resultstools"> <div class="print"><a href="#" title="print" onclick="window.print(); return false;"><%= t(:'talia.search.print results') %></a></div>
            <a href="#" title="full description" onclick="available_elements.each(function(i) {Element.show($('advanced_search_result_full_description_' + i.toString())); Element.hide($('advanced_search_result_description_' + i.toString()))});return false;"><%= t(:'talia.search.full content') %></a> |
            <a href="#" title="expand all" onclick="available_elements.each(function(i) {Element.hide($('advanced_search_result_full_description_' + i.toString())); Element.show($('advanced_search_result_description_' + i.toString()))});return false;"><%= t(:'talia.search.expand all') %></a> |
            <a href="#" title="collapse" onclick="available_elements.each(function(i) {Element.hide($('advanced_search_result_full_description_' + i.toString())); Element.hide($('advanced_search_result_description_' + i.toString()))});return false;"><%= t(:'talia.search.collapse all') %></a>
          </div>
          <!--[if !IE]>resultstools<![endif]-->

          <ul id="results_content" class="results">
            <script type="text/javascript">
              var content = "";

              document.getElementById('result_description').innerHTML = window.opener.document.getElementById('advanced_search_result_description').value;

              var counter =               $A(window.opener.document.getElementsByName('counter[]')).length;
              var checkboxes =            $A(window.opener.document.getElementsByName('checkbox[]'));
              var titles =                $A(window.opener.document.getElementsByName('title[]'));
              var descriptions =          $A(window.opener.document.getElementsByName('description[]'));
              var full_descriptions =     $A(window.opener.document.getElementsByName('full_description[]'));

              var available_elements = [];

              for(var i = 0; i < counter; i++) {
                if(checkboxes[i].checked) {
                  content += "<li>";

                  // add title
                  content += "<h3><span class='result_title_print'>" + (i+1).toString() + ") " + titles[i].value + "</span></h3>";
                  // add description
                  content += "<div id='advanced_search_result_description_" + i.toString() + "' name='advanced_search_result_description'>" + descriptions[i].value + "</div>";
                  // add full description
                  content += "<div id='advanced_search_result_full_description_" + i.toString() + "' style='display: none;'><div class='txt_block'>" + full_descriptions[i].value + "</div></div>";

                  content += "</li>";

                  available_elements.push(i.toString());
                }
              }

              // add new content to page
              document.getElementById('results_content').innerHTML = content;
            </script>

          </ul>