<div class="floatclear"></div>

<!-- scrolling side -->
<div id="scroll" class="menuList">
  <%= widget(:critical_edition_menu, :books => @edition.books, :chosen_book => @book, :chosen_chapter => @chapter, :chosen_part => @part) %>
</div>
<!-- scrolling side -->

<%= render(:partial => "html_data_pane") %>