<div class="floatclear"></div>



<div id="content" class="divided">
    <div id="visore">
  	<%=  @edition.description %>   
   </div>
    <!--[if !IE]>visore<![endif]-->
</div>
<!-- content -->
  
<div id="scroll">
   <%= widget(:critical_edition_menu, :books => @edition.books) %>
</div>



