<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag("editions/critical") %>
    <%= stylesheet_link_tag("main") %>
    <style>
      div#visore{margin:0;}
    </style>
  </head>
  <body>
    <div id="content" class="divided grey">
      <div id="visore">
        <div class='txt_block'> 
          <%= @output %>
        </div>
      </div>
      <!--[if !IE]>visore<![endif]-->
    </div>
  </body>
</html>
