<%= hidden_field_tag '_method', 'put' %>
<% field_set_tag 'Attributes' do %>
  <p><label for="source_uri">Uri</label><br/>
  <%= text_field 'source', 'uri', :value => @source.uri, :tabindex => 10 %></p>
<% end %>
<h2>RDF Predicates</h2>
<div id="predicates">
  <%= render :partial => "predicates" %>
</div>