<% field_set_tag 'Attributes' do %>
  <p><strong>URI: <a href="<%=h @source.uri %>" title="<%=h @source.uri %>"><%=h @source.uri %></a></strong></p>
<% end %>
<h2>RDF Predicates</h2>
<div id="predicates">
  <%= render :partial => "predicates" %>
</div>