<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
</div>
<!--[if !IE]>menulocation<![endif]-->

<div id="description">
  <p><%= tag_cloud(@keys) %></p>
</div>

<!--[if !IE]>description<![endif]-->
<div id="content">

</div>