<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
</div>
<!--[if !IE]>menulocation<![endif]-->

<div id="description">
  <p><%= link_to t(:'talia.global.back_to_keywords'), tags_path %></p>
</div>

<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list"  class="minilist">    
    <%= render(:partial => 'shared/video_list_item', :collection => @element.tagged_sources(TaliaCore::AvMedia)) %>
  </ul>  
</div>