

<% if(w.show_home) %>
  <!--  <h3><%= link_to('<< Back to start', :controller => 'types', :action => nil) %></h3> -->
<% end %>

<!-- link back -->
<% for supertype in w.supertypes %>
  <!-- <h3 class="super"><%= type_link("<< #{@widget.class_label(supertype)}", supertype) %></h3> -->
<% end %>

<!-- pagina in cui sono -->
<% if(w.source_class) %>
  <!-- <h3 class="exact"> <%= @widget.class_label(@widget.source_class) %></h3> -->
<% end %>

<!-- livelli sotto -->

<div id="pod-wrap">
    <div id="ipod_scroll_up_button">
      <a href="javascript:void(0)" onclick="scroll_pod_navigation_up();">scroll up</a>
    </div>

    <div id="pod-list-wrap-mask">
        <div id="pod-list-wrap-ext">

          <div id="pod-list-wrap">
                  <%= navigation_list %>
            </div>
        </div>
    </div>

    <div id="ipod_scroll_down_button">
      <a href="javascript:void(0)" onclick="scroll_pod_navigation_down();">scroll down</a>
    </div>
</div>

