

<% if(@widget.show_home) %>
  <!--  <h3><%= link_to('<< Back to start', :controller => 'types', :action => nil) %></h3> -->
<% end %>

<!-- link back -->
<% for supertype in @widget.supertypes %>
  <!-- <h3 class="super"><%= type_link("<< #{@widget.class_label(supertype)}", supertype) %></h3> -->
<% end %>

<!-- pagina in cui sono -->
<% if(@widget.source_class) %>
  <!-- <h3 class="exact"> <%= @widget.class_label(@widget.source_class) %></h3> -->
<% end %>

<!-- livelli sotto -->

<div id="pod-wrap">
    <!-- back link esterno alla sezione che scrolla -->
    <!--
    <div id="backLink">
        <ul>
            <li id="ipod_backlink_default"><a>NAVIGAZIONE</a></li>
        </ul>
    </div>
    -->

    <div id="ipod_scroll_up_button">
      <a href="javascript:void(0)" onclick="scroll_pod_navigation_up();">scroll up</a>
    </div>

    <div id="pod-list-wrap-mask">
        <div id="pod-list-wrap-ext">

          <div id="pod-list-wrap">
                  <%= navigation_list %>
            </div>
        </div>
    </div>

    <div id="ipod_scroll_down_button">
      <a href="javascript:void(0)" onclick="scroll_pod_navigation_down();">scroll down</a>
    </div>


</div>












<!-- old tyle 
<div id="pod-wrap">
  <div id="top-but-wrap"><a id="top-but" onclick="podButtonClicked();" href="#"> </a></div>
  <div id="pod-list-wrap-ext">
    <div id="pod-list-wrap">
        &nbsp;
    </div>
  </div> -->

  <!-- <div id="bot-but-wrap"><a id="bot-but" onclick="podButtonClicked();" href="#"> </a></div> -->

<!--
</div>

-->
