<% for supertype in navigation_bar.supertypes %>
<h3><%= type_link("<< #{supertype.to_name_s}", supertype) %></h3>
<% end %>
<% if(navigation_bar.source_class) %>
<h3> <%= navigation_bar.source_class.to_name_s %></h3>
<% end %>
<% for subtype in navigation_bar.subtypes %>
<h3><%= type_link("#{subtype.to_name_s} >>", subtype) %></h3>
<% end %>
