/* ******************************************** */
/* CONTAINER OF THE EDITION FRONT PAGE */
/* ******************************************** */

/* Settare l'altezza qui */
div#visore div#frontpage_container div.frontpage {
 	height: 350px;
}

div#visore div#frontpage_container {
    padding: 20px;
}

div#visore div#frontpage_container div.frontpage {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    background-color: #FFF;
    padding: 100px 30px 70px 30px;
    border: 1px solid #e0e0e0;
	position: relative;
}

div#visore div#frontpage_container div.frontpage p.author{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #6c5449;
    font-weight: normal;
}

div#visore div#frontpage_container div.frontpage h2.title{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #000;
    font-weight: normal;
}

div#visore div#frontpage_container div.frontpage p.description{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    color: #666666;
    font-weight: normal;
    margin-bottom: 100px;
}

/* Bottom */
div#visore div#frontpage_container div.frontpage p.logo{
    position: absolute;
	display: block;
	width: 400px;
    height: 52px;
    background: url(/images/front_page_logo.gif) center center no-repeat;
	text-indent: -9999px;
    margin: 0 auto;
    padding: 0;
	bottom: 65px;
}
div#visore div#frontpage_container div.frontpage p.link{
	position: absolute;
	width: 400px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 18px;
    color: #6b5349;
    font-weight: normal;
    margin: 0 auto;
	padding: 0;
	bottom: 40px;
}
div#visore div#frontpage_container div.frontpage p.year{
	position: absolute;
	display: block;
	width: 400px;
	text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    font-weight: normal;
    margin: 0 auto;
	padding: 0;
	bottom: 20px;
}
