<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
  <%= category_tabs %>
</div>
<!--[if !IE]>menulocation<![endif]-->

<div id="description">
  <p><%= material_description(@category) %></p>
</div>

<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list"  class="minilist">
    <%= render(:partial => 'shared/video_list_item', :collection => @category.members(TaliaCore::AvMedia)) %>
  </ul>  
</div>