@charset "ISO-8859-1";

body {
    text-align: center;
}



h1, h2, h3, h4, p, ul, li {
    font-size: 1em;
}

#page_ext {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

div#navigate {
    visibility: hidden;
}

div#critical_popup_header {
    visibility: visible !important;
}

/*  ******************************************/
/* TESTATA ***********************************/
/*  ******************************************/


#header {
    height: 3cm;
    width: 90%;
    background:#ffffff no-repeat left top;

}


/*  ******************************************/
/* CONTENT ***********************************/
/*  ******************************************/

#content {	
    text-align: left;

}

/* *************************************** */
/* *************************************** */
/* *************************************** */
/* CONTENT 100% tolta la barra di sinistra */
/* *************************************** */

#content.divided {
    background: #ffffff;
    color: #000000;
}

#url {
    font-size: 80%;
}


#content.divided div#visore {
    margin-left: 0px;
    background: #ffffff;
    color: #000000;
}

#content.divided div#visore.extended {
    margin-left: 2em;
}


div#visore h1 {
    color: #584239;
    font-family: georgia, serif;
    font-weight: normal;
    font-size: 2.6em;
    line-height: 3.8em;
}

div#visore h2 {
    background: #ffffff;
    color: #000000;
    font-family: georgia, serif;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 2.4em;
/*    border: .03cm solid #000; */
    border-left: 0;
    border-right: 0;
		border-top: 0;
}
div#visore h2 span.red {
    color: #666;
}

div#visore.extended h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
} 

div#visore p{
/*    font-size: 1.2em;*/
    color: #000;
/*    line-height: 2em;*/
/*    padding-bottom: 20px;*/
}

div#visore p.editedby {
    font-size: 1.6em;
    line-height: 1em;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div#visore p.editedby span {
    display: block;
    font-size: .7em;
}

div#visore p.about {
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;

}
div#visore p.about a {
    color: #000;
    text-decoration: underline;}



/* TXT BLOCK ******************* */

div#visore div.txt_block {
/*    border: 1px solid #e5e5e5;*/
    background: #fff;
    padding: 25px;
    margin: 25px 20px 0 0 ;
}

/* tools */
div#visore div.resultstools {
    visibility: hidden;
}
div#visore div.resultstools a {
    color: #000;
    padding: 5px;
}
div#visore div.resultstools div.print {
    float: right;
}
div#visore div.resultstools div.print a {
    padding-left: 30px;
    background: url(/images/critical_edition/printreal.gif) no-repeat left center;
}



/* txt_block */
div#visore div.txt_block p.pg_number {
    text-align: center;
    font-family: georgia, serif;
    color: #898989;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

div#visore div.txt_block p.addons {
    text-align: right;
    color: #909090;
    border-top: 1px solid #e5e5e5;
    font-family: georgia, serif;

}
div#visore div.txt_block p.addons a {
    text-decoration: underline;
    color: #8c8c8c;
}




div#visore ul.results {
    margin: .8em 0 ;
    clear: both;
    list-style: none;
}
div#visore ul.results li {
    padding:1em 0;
    text-align: justify;
}

div#visore ul.results li h3 {
    font-size: 1.2em;
    float: none;
    font-weight: normal;
    margin-bottom: 10px;
}
div#visore ul.results li h3 label {
    display: none;
}
div#visore ul.results li h3 input {
    display: none;
}
div#visore ul.results li h3 span {
    font-style: italic;
    font-weight: bold;
    padding-left: .3em;
}

div#visore ul.results li p {
    font-weight: normal;
    font-size: 1.2em;
    float: none;
    line-height: 1.6em;
    padding-bottom: 5px;
}

span.match {
    font-weight: bold;
}

