@charset "ISO-8859-1";



/*  ******************************************/
/* Advanced Search */
/*  ******************************************/
div#search_adv {
    border-top: 1px solid #bababa;
}
    div#search_adv form {
    }
    div#search_adv form div.src_line {
        background:#ececec url(/images/critical_edition/bg_search_line.jpg) repeat-x 0 bottom;
        float: left;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #fff;
        font-size: 1.2em;
        color: #464646;
    }
    div#search_adv form div.src_line p {
        padding:0 10px;
    }
    div#search_adv form div.src_line label {
        float: left;
        padding: 1px 5px 1px 0;
    }
    div#search_adv form div.src_line p.avvia label {
        display: none;
    }
    div#search_adv form div.src_line label.toradio {
        margin-left: 5px;
    }
    div#search_adv form div.src_line input, div#search_adv form div.src_line select {
        border: 1px solid #c9c9c9;
        padding: 1px;
        float: left;
        display: inline;
        margin-left: 10px;
    }
    div#search_adv form div.src_line select {
        margin-right: 35px;
        width: 100px;
    }
    div#search_adv form div.src_line p.avvia input {
        border: 1px solid #c9c9c9;
        padding: 3px 12px;
        background: #f2f2f2;
        margin-left: 0;
    }
    div#search_adv form div.src_line div.adder {
        float: right;
        padding: 0 10px;
        width: 68px;
        voice-family: "\"}\""; 
        voice-family:inherit;
        width:48px;
    }

    div#search_adv form div.src_line div.adder a {
        display: block;
        height: 18px;
        width: 24px;
        text-indent: -9999px;
        float: left;
    }

/* Buttons to remove or add search lines */    
div.adder a.plus {
    background: url(/images/critical_edition/plus.gif) no-repeat center;
}
div.adder a.minus {
    background: url(/images/critical_edition/minus.gif) no-repeat center;
}
/* scroll laterale ************************ */
/* Edited in main.css! */

/*  ******************************************/
/* SCROLL MENU *************************** */
/* MENU LIST IN THE SIDE SCROLL */
/*  ******************************************/
#scroll.menuList{
    padding: 0px;
}
    #scroll.menuList h1 {
        font-family: georgia, serif;
        font-weight: normal;
        font-size: 1.8em;
        background: #fff;
        padding: 14px 12px 18px 12px ;
    }
    #scroll.menuList ul {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    #scroll.menuList ul.toplevel {
        border-bottom: 1px solid #e0e0e0;
        list-style: none;
    }
    #scroll.menuList ul li {
        display: block;
        padding: 0;
        background: #eeeeee url(/images/critical_edition/bg_leftlist.gif) top left no-repeat;
        border-top: 1px solid #e0e0e0;
        background-position: top right !important;
        margin: 0;
    }
    #scroll.menuList ul li a {
        padding: 7px 0 4px 14px;
        display: block;
        color: #000;
        margin: 0 10px;
        font-size: 1.5em;
    }
    #scroll.menuList ul.book li a  {
        background: url(/images/critical_edition/book.gif) no-repeat;
        background-position: 0px 9px;
    }
    #scroll.menuList ul.secondlevel li a  {
        color: #666;
        margin: 0 20px;
        font-size: 1.5em;
    }
    #scroll.menuList ul.thirdlevel li {
        background-position: right;
    }
    #scroll.menuList ul.thirdlevel li a  {
        color: #666;
        margin: 0 30px;
        font-size: 1.5em;
    }
    #scroll.menuList ul.pages li a {
        background: url(/images/critical_edition/pages.gif) no-repeat;
        background-position: 0px 11px;
    }
    #scroll.menuList ul.page li a {
        background: url(/images/critical_edition/page.gif) no-repeat;
        background-position: 0px 11px;
    }

    /* Selected items */
    #scroll.menuList ul li.selected a {
        color: #990000;
    }
     #scroll.menuList ul.secondlevel li.selected a  {
        color: #990000;
    }
    
    #scroll.menuList ul.thirdlevel li.selected a  {
        color: #990000;
    }
    #scroll.menuList ul li.selected {
        background: #eeeeee url(/images/critical_edition/bg_leftlist_selected.gif) top left no-repeat;
    }
    
/*  ******************************************/
/* CONTENT */
/*  ******************************************/


/*  ******************************************/
/* TXT BLOCK ******************* */
/* Blocco di testo 
/*  ******************************************/
#content div#visore div.txt_block {
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 25px;
    margin: 25px 20px 0 0;
    text-align: left;
}

#content.grey {
    background: #f3f3f3;
}
/*
div#visore h1 {
    color: #584239;
    font-family: georgia, serif;
    font-weight: normal;
    font-size: 2.6em;
    line-height: 3.8em;
}

div#visore h2 {
    color: #898989;
    font-family: georgia, serif;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 2.4em;
}
div#visore h2 span {
    color: #900;
}
*/
div#visore.extended h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
} 
/*
div#visore p{
    color: #000;
    line-height: 2em;
    padding-bottom: 20px;
}
*/
div#visore p.editedby {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div#visore p.editedby span {
    display: block;
    font-size: .7em;
}

div#visore p.about {
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    
}
div#visore p.about a {
    color: #000;
    text-decoration: underline;
}



/*  ******************************************/
/* tools */
/*  ***************************************** */

div#visore div.resultstools {
    padding:10px 15px;
    margin:15px 20px 10px 0;
    color: #999;
    font-size: 1.2em;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-bottom: 0;
}
div#visore div.resultstools a {
    color: #999;
    padding: 5px;
}
div#visore div.resultstools div.print {
    float: right;
}
div#visore div.resultstools div.print a {
    padding-left: 30px;
    background: url(/images/critical_edition/print.gif) no-repeat left center;
}

div#visore div.txt_block p.pg_number {
    text-align: center;
    font-family: georgia, serif;
    color: #898989;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

div#visore div.txt_block p.addons {
    text-align: right;
    color: #909090;
    border-top: 1px solid #e5e5e5;
    font-family: georgia, serif;
    
}
div#visore div.txt_block p.addons a {
    text-decoration: underline;
    color: #8c8c8c;
}

div#visore ul.results {
    border-top: 1px solid #e5e5e5;
    background: #fff;
    float: none;
    margin: 10px 20px 0 0 ;
    list-style: none;
}
div#visore ul.results li {
    padding: 15px;
    float: none;
    border-bottom: 1px solid #e5e5e5;
    text-align: justify;
}
div#visore ul.results li a {
    color: #000000;
}
div#visore ul.results li h3 {
    font-size: 1.2em;
    float: none;
    margin-bottom: 10px;
}
div#visore ul.results li h3 label {
    display: none;
}
div#visore ul.results li h3 input {
    margin: 0 5px ;
    background: #fff;
    border:1px solid #e5e5e5;
    
}
div#visore ul.results li h3 span {
    font-style: italic;
}

div#visore ul.results li p {
    font-weight: normal;
    font-size: 1.2em;
    float: none;
    line-height: 1.6em;
    padding-bottom: 5px;
}

div#visore ul.results li p span.match {
    color: red;
}