@charset "ISO-8859-1";

body {
    /* sfondo di testata */
    background:#fff url(/images/facsimile_edition/bg_head.gif) top left repeat-x;
}

/* CUSTOMIZZAZI)ONE IMMAGINE PRINCICPALE DELL'HEADER */
#header {
  /*grafica di testata */
  background: url(/images/facsimile_edition/bg_mainhead.jpg) top left no-repeat;
}

#search_box p input {
    font-size: 1.2em;
    background: #fff;
    width: 5.5em;
    font-size:.9em;
    border: medium double #b7b7b7;
}
#search_box p label.invia {
    display: none;
} 
#search_box p input.invia  {
    background: url(/images/facsimile_edition/invia.gif) no-repeat;
    width: 18px;
    border: 0;
    font-size: 1.2em;
    outline: none;
    text-indent: -9999px;
    margin-left: .4em;
    
}

ul#access_list.minilist li h1 img {
    float: none;
    display: block;
    margin-bottom: 4px;
    padding-right: 0;
}

ul#access_list li p {
    padding: 10px 0 0 0;
    margin-left: 108px;
    display:block;
    float: none;	
    
    font-size: 1.2em;
    line-height: 1.6em;
}
/* -*/
#scroll div.view_block {
    /* width: 190px;
    margin:0;
    background: 0;
    */
}

#block_container div.block p, #scroll div.view_block p  {
     /*float: left;
    width: 80px;
    display: inline;	*/
}
#scroll div.view_block p {
    /* width: 85px; */
}

#block_container div.block p.lonely, #scroll div.view_block p.lonely {
    /*
   width:176px;
    margin-left: 0;
    margin-right: 0;
   */
}
#block_container div.block p.lonely, #scroll div.view_block p.lonely {
    /*
        text-align: right;
    */
}
#block_container div.block p img, #scroll div.view_block p img {
    /*
        display: block;
    margin-bottom: 15px;
    */
        }
/* - -*/
        
/*
in main.css:
div#visore {
    margin-left: 232px;
    overflow:auto
}
*/

/* image_big */

#image_big {
    margin: 0 auto;
    clear: both;
}
#image_big img {
    clear: both;
    margin-top: 15px;
}

/* ******************* */
/* IIP Viewer */
/* ******************* */
.iipfview {
    /* padding: 10ex; */
    margin: 10px 0;
    border: 1px solid #666;
    padding: 2px;
}