<tr class="translation">
  <td><%= text_field_tag "translations[][tr_key]", new_translation.tr_key, :size => 12 %></td>
  <td>
    <%= text_field_tag "translations[][text]", new_translation.text, :size => 48 %>
    <%= hidden_field_tag "translations[][id]", new_translation.id %>
  </td>
</tr>
