

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
   <%= javascript_include_tag 'prototype', :unobtrusive %>
   <%= javascript_include_tag 'lowpro', :unobtrusive %>
   <%= javascript_include_tag 'js', :unobtrusive  %>


<%= stylesheet_link_tag "main" %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="parole chiave" />
<meta name="description" content="Descrizione progettto." />
<meta name="copyright" content="Discovery" />
<meta name="robots" content="all" />
<meta http-equiv="pragma" content="no-cache" />




<title><%= title %></title>
</head>


<body id="page" class="open">

<div class="hidden">
	<ul>
		<li><a href="#menu" title="Go straight to the navigation">Main navigation</a></li>
		<li><a href="#contenutoSinistra" title="Go straight to the main content">Main content</a></li>
  </ul>
</div>

<div id="ext_page"> <!-- ext_page: elemento esterno a tutto -->
	<div id="int_page"> <!-- int_page: elemento esterno a tutto, interno solo a ext_page -->
		
        <!-- header: contains title of the project - upper part -->
        <div id="header">
			<h1>Discovery: Talia</h1>
			<p class="header_subtitle">Subtitle saying bla bla bla....</p>
		</div>
		<!-- header end -->
        
 		<%= widget(:sidebar) %>
            
		
        <!-- contents: main part of the page - divided into external and internal -->

        <div id="contents_ext" class="open">
	<%= document_content %>
	
</div> <!-- ext_page end -->

</body>
</html>

